@charset "utf-8";

//chosen
.chosen {
	text-align: left;
	position: relative;
	vertical-align: middle;
	select {
		width: 100%;
		min-width: auto;
	}
	&.rule-chosen {
		display : inline-block;
		float: left;
	    height: 36px;
		margin-right: 5px;
		&.mr10{
			margin-right: 10px;
		}
		width: 80px;
		.chosen-container {
			font-size:14px;
			width: 80px !important;
		}
		.chosen-container-single { 
			.chosen-single {
				height: 36px;
				line-height: 36px;
			}
		}
	}
	&.rule2-chosen {
		display : inline-block;
		float: left;
	    height: 36px;
		margin-right: 5px;
		&.mr10{
			margin-right: 10px;
		}
		width: 120px;
		.chosen-container {
			font-size:14px;
			width: 120px !important;
		}
		.chosen-container-single { 
			.chosen-single {
				height: 36px;
				line-height: 36px;
			}
		}
	}
	&.big {
		width: 300px;
		&.w60{ width: 60px; }
		&.w80{ width: 80px; }
		&.w100{ width: 100px; }
		&.w120{ width: 120px; }
		&.w140{ width: 140px; }
		&.w160{ width: 160px; }
		&.mr10{ margin-right: 10px; }
		display : inline-block;
		.chosen-container {
			font-size:14px;

		}
		.chosen-container-single { 
			.chosen-single {
				height: 36px;
				line-height: 36px;
			}
		}
	}
	&.small {
		width: 115px;
		.chosen-container {
			font-size:12px;

		}
		.chosen-container-single { 
			.chosen-single {
				height: 32px;
				line-height: 32px;
			}
		}
	}
	&.nocolor {
		.chosen-container-single .chosen-single div{
			background:#fff;
		}
	}
	.chosen-container-single { 
		.chosen-single {
			border-radius: 0px;			
			background: #fff;
			border: 1px solid $nbuttom_white1;
			padding-left: 10px;
			box-shadow: none;
			width: 100%;
			span {
				margin-right: 32px;
			}
			div {
				width: 32px;
				background: $ncolor_table_bg;
				b {
			        height: 0;
				    width: 0;
				    border-top: 7px solid #556175;
				    border-left: 4px solid transparent;
				    border-right: 4px solid transparent;
				    margin-top: 14px;
				    margin-left: 11px;
				}
			}
		}
		.chosen-drop{
			border-radius: 0px;
			border: 1px solid $nbuttom_white1;
			.chosen-results {
				margin: 0;
    			padding: 0;
				li {
					line-height: 30px;
					padding: 0 0 0 10px;
					&.highlighted {
						background-color: $nbuttom_blue1;
						background-image: none;
					}
				}
			}
		}
	}

}

.chosen-group{
	float: left;
	position: relative;
	.small{
		position: absolute;
	    top: 20px;
	    left: 10px;
	    .chosen-single{
	    	position: absolute;
		    top: -32px;
		    opacity: 0;
		    cursor: pointer;
	    }
	}
	.big{
		position: absolute;
	    top: 20px;
	    left: 0px;
	    .chosen-single{
	    	position: absolute;
		    top: -36px;
		    opacity: 0;
		    cursor: pointer;
	    }
	}
}

//dropdown
.dropdown {
    display: inline-block;
	&.big {
		.dropdown-menu {
			width: 500px;
			height:250px;
		    top: 26px;
		}
	}
	&.table_title {
		.dropdown-menu {
			width:160px;
		    margin-top: 10px;
		    margin-left: -10px;
		    &.w240{
		    	width:240px;
		    }		    
        	.s-input{
        	    width: 60px;
			    min-width: 60px;
			    margin: 4px 5px;
			    height: 26px;
            }
            .rm_nbtn {
			    padding: 0px 8px;
    			line-height: 28px;
		    }
		    li {
				height : 30px;
				a {
					line-height: 30px;
				}
			}
		}
		.dropdown-endline {
			width: 160px;
			color: $font_color_title;
            font-size: 14px;
            font-weight: normal;
            margin-left: -10px;
            height: 40px;
    		line-height: 40px;
            span{
            	vertical-align: top;
            }
            top: 118px;
            &.three_child{
            	top: 126px;
            }
		}

			
	}
	.title {
		cursor: pointer;
	}
	.dropdown-endline {
		cursor: pointer;
		width: 500px;
		height: 50px;
		line-height: 50px;
		background: #fff;
		position: absolute;
		top: 277px;
		display:none;
		border: 1px solid $nbuttom_white1;
		color: $nbuttom_blue1;
		font-size: 18px;
		z-index: 1001;
	    text-align: center;
	}
	&.open .dropdown-endline{
		display:block;
	}
	.dropdown-menu {
		border-radius: 0px;			
		background: #fff;
		border: 1px solid $nbuttom_white1;
		max-height:250px;
		overflow-y:auto;
		box-shadow: none;
		li {
			height : 40px;
			overflow: hidden;
			&.nohover {
				background-color: #fff !important;
			}
			&:hover {
				background-color: $nbuttom_blue1;
			}
			&.checked {
				background-color: $nbuttom_blue1;
			}
			a {
				line-height: 40px;
				padding: 0 10px;
				display:inline-block;
			}
			.strategy_name{
				width:350px;
				overflow: hidden;
			}
		}

	    .hide_option {
	        float: right;
	        margin-right: 5px;
	        display: none;
	    }
	    .hide_option:hover {
	        text-decoration: underline;
	    }
	    li:hover .hide_option{
	        display: inline-block;
	    }
		li.checked .hide_option{
	        display: inline-block;
	    }

		li.nohover a{
			background-color: #fff !important;
		}
		li:hover a{
			color:#fff;
			background-color: $nbuttom_blue1;
		}
		li.checked a{
			color:#fff;
			background-color: $nbuttom_blue1;
		}
	}
}

//Tooltip
.customClass {
	&.tooltip.top{
		margin-top: 0px;
	}
	.tooltip-arrow{
		border-top-color: $ntip_border !important;
		bottom: 1px !important; 
	}
	.tooltip-inner{
		background-color: $ntip_background !important;
		border: 1px $ntip_border solid !important;
		color: $ntip_color !important;
		font-size:16px !important;
		border-radius:0px !important;
	}
}
.normalClass {
	&.tooltip.top{
		margin-top: 0px;
	}
	.tooltip-arrow{
		bottom: 1px !important; 
	}
	.tooltip-inner{
		border-radius:0px !important;
	}
}

//UI Bootstrap Typeahead 
.udi-typeahead{
	width: 120px;
	display: inline-block;
	position:relative;
	&.w300{ 
		width: 300px; 
		.dropdown-menu {
			width: 300px;
			min-width: 300px;
		}
	}
	&.rule-typeahead {
		display : inline-block;
		float: left;
		margin-right: 5px;
		.dropdown-menu {
			width:220px;
		}
		input{
			padding-right:20px;
		}
	}
    .typeahead-fdj {
		position: absolute;
	    top: 10px;
	    right: 8px;
	    font-size: 12px;
    }
	&.mr5{ margin-right: 5px; }
	input{
	    border-radius: 0px;
	    height: 36px;
	    line-height: 36px;
	    font-size: 14px;
	    box-shadow: none;
	    transition: none;

	}
	.form-control:focus{
		box-shadow: none;
	}
	.dropdown-menu {
		border-radius: 0px;			
		background: #fff;
		border: 1px solid $nbuttom_white1;
		max-height:250px;
		overflow-y:auto;
	    padding: 0;
    	margin: 0;
		box-shadow: none;
		width:120px;
		min-width:120px;
		min-height:200px;
		li {
			height : 40px;
			overflow: hidden;
			&:hover {
				background-color: $nbuttom_blue1;
			}
			a {
				line-height: 40px;
				padding: 0 10px;
				display:inline-block;
			    background: none;
			    color: black;
			    width: 100%;
			}
		}

	    .hide_option {
	        float: right;
	        margin-right: 5px;
	        display: none;
	    }
	    li:hover .hide_option{
	        display: inline-block;
	    }
		li:hover a{
			color:#fff;
			background-color: $nbuttom_blue1;
		}
	}
}

.udi-typeahead-select{
	width: 200px;
	display: inline-block;
	margin-left: -1px;
	input{
	    border-radius: 0px;
	    height: 32px;
	    line-height: 32px;
	    font-size: 12px;
	    box-shadow: none;
	    transition: none;

	}
	.form-control:focus{
		box-shadow: none;
	}
	.dropdown-menu {
		width: 200px;
		border-radius: 0px;			
		background: #fff;
		border: 1px solid $nbuttom_white1;
		max-height:250px;
		overflow-y:auto;
	    padding: 0;
    	margin: 0;
		box-shadow: none;
		li {
			height : 30px;
			overflow: hidden;
			&:hover {
				background-color: $nbuttom_blue1;
			}
			a {
				line-height: 30px;
				padding: 0 10px;
				display:inline-block;
			    background: none;
			    color: black;
			    width: 100%;
			}
		}

	    .hide_option {
	        float: right;
	        margin-right: 5px;
	        display: none;
	    }
	    li:hover .hide_option{
	        display: inline-block;
	    }
		li:hover a{
			color:#fff;
			background-color: $nbuttom_blue1;
		}
	}
}

//UI Bootstrap timepicker 
.uib-timepicker{
	input{
	    box-shadow: none;
	    border-radius: 0px;	
	    min-width: 40px;
	}
	.uib-separator{
		padding: 0 5px;
	}	
	.form-control:focus{
		box-shadow: none;
	}
}

//pagination
.m-uib-pagination{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 30px;
    .pagination{
    	margin-bottom: 10px;
    }
	.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span{
		border-radius: 0px;
	}
	.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
		border-radius: 0px;
	}
	.pagination-text{
		float:right;
		margin: 30px 10px 20px 0;
		font-size: 14px;
	}
}

//Datepicker Popup
.m-uib-popup{
	.ud_input_lg{
		width: 120px;
   		min-width: 120px !important;
   		float:left;
   		border-right: none;
   		&:focus{
   			border-color:#d4d5d7;
		}
	}
	.rm_nbtn{
		margin-left: 0px;
		margin-right: 10px;
	    padding: 0;
	    height: 36px;
	    width: 36px;
	    border-left: none;
	    color:$nbuttom_white1;

	}
	.rm_nbtn:hover{
		color:$nbuttom_white1;
	}
}