@charset "utf-8";

//未、未、未、整、理、、、

// COLOR
$blue: #12addd; //button, card border, checkbox
$blue_dark: #0999c5;
$red: #ff1b02;
$red_light: #ed4c2d;    // 欠费提示文字
$bg_grey: #ebecee;
$green: #8ec63f;
$green_B: #a5d165;  //创建攻略，选择锦囊checkbox
$green_dark: #80b832;
$orange: #faab1a;
$font_grey_dark: #556175;


$bg_nav: #333f51;
$bg_nav_active: #2d3747;

$blue_light: #35b9e2;
$green_light: #9ece5c;
$blue_bg_btn: #5bc0e0;

// FONT
//$font_family: "Microsoft Yahei", Arial;
$font_family: "Hiragino Sans GB", "Microsoft Yahei", Arial;
//$font_color_title: #343f51;
$font_color_title: #2e3848;
$font_color_description: #556175;
$shadow_color: #777;
$box_shadow_color: #333;
$grey_light: #ebebed;
$bg_grey1: #2e3848; //内容标题
$font_blue: #1798c0;    //场景checkbox
$font_green: #65b22c;   //锦囊checkbox

$font_grey_light:#adb2b9;
$font_color_link_active: #2d3747;

// height-width definition
$width_nav: 200px; //左侧一级导航宽度
$width_nav_narrow: 80px;
$width_subnav: 200px;
//$width_right: 1160px;//右侧内容宽度
$width_right: 950px;//右侧内容宽度
$height_header: 60px;//logo和上方导航高度
$box_shadow_width: 7px;
$width_rightslide: 600px; //右侧滑动展示宽度
$height_content_header: 120px;//内部头高度
$height_content_footer: 90px;//内部底高度
$height_slide_header: 90px;//右滑框头高度
$height_slide_footer: 70px;//右滑框头高度
$height_table_line: 50px;//表格高度

$grey_modal: #eaebed;
$bg_blue_light: #d8ebf1;

$card_border: #d1d2d4;
//$card_bg: #ebebed;
$font_color: #acb0b9; //input, table, modal... nomal font; light grey

//$card_hover_bg: #d8ebf1;
$card_font: #707988;
$card_hover_font: #2e3848;


$font_grey_table: #707988;
$bg_grey_light: #f6f7f9;

$bg_datepicker: #585f6c;
$padding_datepicker: 10px;

$border_color_grey: #d5d4d7;

$ncolor_black: #273140;   //黑
$ncolor_grey: #abc4c1;   //灰
$ncolor_lgrey: #F4F8FB;   //淡灰
$ncolor_white: #f5f8fa;   //白
$ncolor_blue: #12addd;   //蓝
$ncolor_orange: #ff7800;   //橙
$ncolor_green: #5CE431;   //绿
$ncolor_lgreen: #40e0c0;   //淡绿
$ncolor_red: #FF3335;   //红
$ncolor_yellow: #fbad17;   //黄
$ncolor_table_bg: #f6f9f9;   //表格背景

$nbuttom_blue1: #00b1e2;   //按钮蓝正常状态
$nbuttom_blue2: #009fd0;   //按钮蓝hover状态
$nbuttom_white1: #d2d5df;   //按钮白边框

$ntip_border: #ffc996;   //提示边框
$ntip_background: #fffbf2;   //提示背景
$ntip_color: #273140;   //提示文字