@charset "UTF-8";
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

//@import "bootswatch/paper/variables";

//@import "bootswatch/paper/bootswatch";
//@import "jasny-bootstrap/scss/variables";
//@import "jasny-bootstrap/scss/grid-container-smooth";
//@import "jasny-bootstrap/scss/button-labels";

// Components
//@import "jasny-bootstrap/scss/nav-tab-alignment";
//@import "jasny-bootstrap/scss/navmenu";


// Customization
@import "variables";    //variable definition

@import "components/modal";
@import "components/panel";
@import "components/form";
@import "components/button";
@import "components/table";
@import "components/select";
@import "components/datepicker";
@import "components/switch";
@import "components/popover";
@import "components/card";
@import "components/vernier";
@import "components/searchCondition";
@import "components/pagination";
@import "right";    
@import "sidenav";  
@import "login";
@import "rightslide";
@import "nobowers";
@import "iconfont";
//@import "rightside/tmp";
//@import "stash";

/* --------------- START global --------------- */
body {
    //background: #fff;
    font-size: 12px;
    line-height: 1.5;
    font-family: $font-family;
    color: $font-color-description;
    padding-top: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.error {
    color: white;
    background-color: red;
}

a,
a:hover,
a:focus,
a:focus {
    text-decoration: none;
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}

/* Reset: 表格单元格内文字垂直居中 */
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    vertical-align: middle;
}


li {
    list-style-type: none;
}



.list-group-item span.fa {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    vertical-align: middle;
}

.cloudx-hide {
    display: none;
}


/* --------------- END global --------------- */


/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */


/* --------------- START 页面布局 --------------- */

.rm_right_header {
    position: fixed;
    top: 0;
    //z-index: -1!important;
    //left: $width_nav_narrow;
    //height: $height_header;
    //left: 0!important;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.rm_right_content {
    position: fixed;
    top: $height_header;
    margin-top: 1px;
    right: 0;
    bottom: 0;
    //left: $width_nav_narrow;
    overflow-x: auto;
    overflow-y: auto;

    &>div {
        min-width: 1060px;
        height: 100%;
    }
}

/* --------------- END 页面布局 --------------- */

.rm_center {
    text-align: center;
}

.rm_left {
    float: left;
}

.rm_right {
    float: right;
}

.rm_col2, .rm_col3, .rm_col4, .rm_col5,
.ud_col2, .ud_col3, .ud_col4, .ud_col5 {
    float: left;
}

.rm_col5 {
    width: 20%;
}
.rm_col4 {
    width: 25%;
}
.rm_col3 {
    width: 33.33333%;
}
.rm_col2 {
    width: 50%;
}

a, tbody {
    color: $font_grey_dark;
}

.ud_row {
    position: relative;
    width: 100%;

    &:after {
        content: ' ';
        display: block;
        clear: both;
        height: 0;
    }
}

.ud_col4 {
    width: 25%
}

.rm_text_correct {
    color: $blue;
}

.rm_text_error {
    color: $red;
}

.rm_text_success {
    color: $green;
}

.ud_center {
    text-align: center;
}

.ud_center_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ud_text_correct {
    color: $green;
}

.ud_text_error {
    color: $red;
}

.ud_text_success {
    color: $green;
}

.ud_text_link {
    color: $blue;

    &:hover {
        color: $blue;
    }
}

.ud_text_sm {
    font-size: 12px;
}

.ud_left {
    float: left;
}

.ud_right {
    float: right;
}

.ud_loading_bg {
    background: rgba(#000, 0.5);
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 100px;
}

.ud_loading {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: 50%;
    margin-top: -18px;
    background: url(../images/loading.gif) center center no-repeat;
}
.rm_right_content>div>div>.ud_loading_bg{
    position:fixed!important;
}
.ud_hide {
    display: none;
}
