<right-slide-dialog ng-cloak dialog-name="edit_predicator1" back-router="ruleCenter" no-slide="{{noslide}}">
	<div class="right_slide_width" cg-busy="queryPromise_ep1">
		<div class="rmn_content_header rmn_slide">
		    <h1 class="title">
		        指标详情
		    </h1>		    
			<a ng-if="false" class="iconfont titleButtomOpen" ng-click="pmDTO.status='1';" ng-show="pmDTO.status=='0'">&#xe71c;</a> 
	        <a ng-if="false" class="iconfont titleButtomClose" ng-click="pmDTO.status='0';" ng-show="pmDTO.status=='1'">&#xe71b;</a>
		</div>
		<div class="rmn_content_normal rmn_footer rmn_slide">
			<form role="form" class="ud_form_lg">
                <div class="ud_form_group_lg" ng-show="pmDto.description">
                    <label class="t">描述</label>
                    <div class="c">
                        <div class="ud_text_indent2" >{{pmDto.description}}</div>
                    </div>
                </div>
                <div class="ud_form_group_lg" ng-show="pmDto.example">
                    <label class="t">示例</label>
                    <div class="c">
                        <div class="ud_text_indent2" >{{pmDto.example}}</div>
                    </div>
                </div>                 
                <div class="ud_form_group_lg" ng-show="pmDto.dataServiceCode">
                    <label class="t">数据服务Code</label>
                    <div class="c">
                        <div class="ud_text_indent2" >{{pmDto.dataServiceCode}}</div>
                    </div>
                </div> 
                <div class="ud_form_group_lg">
                    <label class="t">指标名称</label>
                    <div class="c">
                        <input type="text" placeholder="请填写指标名称" class="ud_input_lg" ng-model="pmDto.name" ng-change="validate_namw()" ng-blur=validate_name()><span ng-class="{ud_text_error: tip_name.invalid, ud_text_correct: !(tip_name.invalid)}">{{tip_name.info}}</span>
                    </div>
                </div>
	            <div class="ud_form_group_lg rmn_rule_info" ng-repeat="inDto in pmDto.invokeParameterDTOs" ng-show="inDto.isShow=='0'">
	                <label class="t">{{inDto.name}}</label>
	               <div class="c">
                        <div ng-if="inDto.type=='0'" class="">
                            <input ng-if="inDto.valueTypeDTO.type!='date'" type="text" placeholder="请填写" class="ud_input_lg" ng-model="inDto.value">
                            <div ng-if="inDto.valueTypeDTO.type=='date'" class="m-uib-popup">
                                <input type="text" class="ud_input_lg" uib-datepicker-popup ng-model="inDto.value" is-open="popupOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <a type="button" class="rm_nbtn" ng-click="popupOpened=true"><i class="iconfont">&#xe6d6;</i></a>
                                <div class="chosen big w120" >
                                    <uib-timepicker ng-model="inDto.value"  mousewheel="false" show-seconds=true show-spinners="false" show-meridian="false"></uib-timepicker>
                                </div>
                            </div>
                        </div>
                        <div ng-if="inDto.type=='1'" class="chosen big">
                            <select chosen data-placeholder-text-single="'{{isEmptyShow(inDto)}}'" disable-search="true" ng-model="inDto.parameterId"  ng-options="value as label for (value, label) in inDto.choiceParameters" >
                                <option value=""></option>
                            </select> 
                        </div>
                        <input ng-if="inDto.type=='2'" type="number" min="0" class="ud_input_lg w120 mr10" ng-model="inDto.value" ng-blur="inDtonumberChange(inDto)">
                        <div ng-show="inDto.type=='2'" class="chosen big w140">
                            <select chosen data-placeholder-text-single="'{{isEmptyShow(inDto)}}'" disable-search="true" ng-model="inDto.unit" ng-options="ent.id  as ent.name for ent in optionList">
                                <option value=""></option>
                            </select> 
                        </div>
                        <div ng-if="inDto.type=='3'||inDto.type=='4'||inDto.type=='5'||inDto.type=='6'" style="width:340px;">
                            <div ng-if="inDto.canExtend=='1'">
                                <div class="chosen big">
                                    <select chosen data-placeholder-text-single="'{{isEmptyShow(inDto)}}'" disable-search="true" ng-model="inDto.value"  ng-options="value as label for (value, label) in inDto.choiceParameters" ng-change="inDtoType3Change(inDto)" >
                                        <option value=""></option>
                                    </select> 
                                </div>
                            </div>
                            <div ng-if="inDto.canExtend=='0'" ng-repeat="inEnt in inDto.value track by $index" >
                                <div class="chosen big">
                                    <select chosen data-placeholder-text-single="'{{isEmptyShow(inDto)}}'" disable-search="true" ng-model="inDto.value[$index]"  ng-options="value as label for (value, label) in inDto.choiceParameters" >
                                        <option value=""></option>
                                    </select> 
                                </div>
                                <span class="iconfont add_buttom" ng-show="$index==0" ng-click="addCanExtend(inDto)" tooltip-class="normalClass" uib-tooltip="添加">&#xe69e;</span>
                                <span class="iconfont add_buttom" ng-show="$index!=0" ng-click="deleteCanExtend(inDto,$index)" tooltip-class="normalClass" uib-tooltip="删除">&#xe69d;</span>
                                <div class="rmn_empty_line5"></div>
                            </div>
                        </div>
                        <div ng-if="inDto.type=='7'" class="chosen big">
                            <select chosen data-placeholder-text-single="'{{isEmptyShow(inDto)}}'" disable-search="true" ng-model="inDto.value"  ng-options="ent for ent in categoryList[inDto.key]" >
                                <option value=""></option>
                            </select> 
                        </div>

                        <span ng-if="inDto.type=='1'||inDto.type=='2'||inDto.type=='3'||inDto.type=='5'||inDto.type=='7'" ng-show="peDTO.isEmpty=='0'" class="iconfont" ng-click="peDTO.value=''" tooltip-class="normalClass" uib-tooltip="清空">&#xe69d;</span>
                        <a ng-if="inDto.optional[1]" class="ml10 iconfont" ng-click="changeIsCheck(inDto)" ng-class="{cblue:inDto.isCheck=='0'}">&#xe6b9;</a> 
                        <a ng-if="inDto.optional[1]"  ng-click="changeIsCheck(inDto)" >不限时间</a>
                    </div>
                </div>
                <span ng-class="{ud_text_error: tip_factor.invalid, ud_text_correct: !(tip_factor.invalid)}">{{tip_factor.info}}</span>
                <div class="ud_form_group_lg" ng-if="pmDto.resultContent.length>0">
                    <label class="t">查询结果</label>
                    <div class="c">
                        <div class="chosen big">
                            <select chosen data-placeholder-text-single="'请选择查询结果'" disable-search="true" ng-model="pmDto.resultAttributeName"  ng-options="ent.resultAttributeName  as ent.resultAttributeName for ent in pmDto.resultContent" >
                                <option value=""></option>
                            </select> 
                        </div>
                        <span ng-class="{ud_text_error: tip_select.invalid, ud_text_correct: !(tip_select.invalid)}">{{tip_select.info}}</span>
                    </div>
                </div>
	        </form>
            <div class="rmn_empty_line100"></div>
		</div>
		<div class="rmn_content_footer rmn_slide">
			<div class="rm_buttoms rm_right">
                <span ng-class="{ud_text_error: tip_all.invalid, ud_text_correct: !(tip_all.invalid)}">{{tip_all.info}}</span>

                <a ng-show="type=='edit'" class="rm_nbtn rm_nbtn_primary" ng-click="close()">取消</a>
				<a ng-show="type=='new'" class="rm_nbtn rm_nbtn_primary" ng-click="back()">上一步</a>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="save()">保存</a>
			</div>
		</div>
	</div>
</right-slide-dialog>

