<right-slide-dialog ng-cloak dialog-name="new_predicator" back-router="ruleCenter" no-slide="{{noslide}}">
	<div class="right_slide_width">
		<div class="rmn_content_header rmn_library_rule">
		    <h1 class="title">
                选择模板
		    </h1>
		</div>
		<div class="rmn_content_normal rmn_library_rule">
			<table class="table_createStrategy">
                <tbody ng-repeat="ent in templateList" ng-init="p_index=$index">
                    <tr  ng-class="{checked:$index==templateIndex}" ng-click="clickTemplate($index)">
                        <td class="library_rule">
                            <span>{{ent.name}}</span>
                            <span class="rm_right glyphicon glyphicon-menu-down ud_icon" ></span>
                        </td>
                    </tr>
                    <tr ng-show="p_index==templateIndex" ng-repeat="entSon in ent.predicatorTemplateDTOs"  ng-click="clickOneTemplate(entSon)">
                        <td class="library_rule info">
                            <span>{{entSon.name}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</right-slide-dialog>