<div class="ud_content_withlist">

	<div  class="ud_content_header">
		<div class="ud_right">
			<a class="ud_btn_create" ui-sref="addUserDefinedRuleStep1({strategyInstanceId:strategyInstanceId})">
				<span class="glyphicon glyphicon-plus"></span> 新增自定义规则
			</a>
		</div>

		<h1 class="title">
			新增规则 —— {{StrategyInstanceName}}
			<a class="back" ui-sref="ruleCenter({strategyInstanceCode:StrategyCode})">返回攻略中心</a>
		</h1>
	</div>

	<div  class="ud_content_addrulelist">
		<div class="conditions">
			<div class="condition">
				<label>场景：</label>
				<div class="itemgroup">
					<a class="item" ng-click="setScenario($index)"
					   ng-repeat="item in ScenarioTemplateListForStrategy" ng-class="{active:selectScenarioCode==item.code}">
						{{item.name}}
					</a>
				</div>
			</div>
			<div class="condition">
				<label>锦囊：</label>
				<div class="itemgroup">
					<a class="item" ng-repeat="item in SolutionTemplateList" ng-click="setSolution($index)" ng-class="{active:selectSolutionCode==item.code}">
						{{item.name}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="rm_content_table">
		<table class="rm_table">
			<thead>
			<tr>
				<th>规则名称</th>
				<th>场景</th>
				<th>锦囊</th>
				<th>实时性</th>
				<th>是否收费</th>
				<th>开通情况</th>
				<th>已增次数</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody infinite-scroll="loadPage(page+1)" infinite-scroll-container="'.rm_right_content'" infinite-scroll-disabled="links['last'] == page">
			<tr ng-repeat="rule in ruleTemplateList">
				<td>{{rule.ruleTemplate.name}}</td>
				<td>{{rule.scenarioName}}</td>
				<td>{{rule.solutionName}}</td>
				<td>{{mySynchronization[rule.isSynchronization]}}</td>
				<td>{{myPay[rule.isPay]}}</td>
				<td>{{authorization[rule.authorization]}}</td>
				<td>{{rule.refCount}}</td>
				<td ng-show="rule.authorization=='0' || rule.authorization=='2'">
					<a ng-click="createNewRule(rule.ruleTemplate.code)" class="operation">
						新增
					</a>
				</td>
				<td ng-show="rule.authorization=='-1' || rule.authorization=='1'">
					<span class="disabled_btn">
						新增
					</span>
				</td>
			</tr>
			<tr ng-show="noResultTip == 1">
				<td colspan="8">该条件没有数据，你可以点击“新增自定义规则”进行添加。</td>
			</tr>
			</tbody>
		</table>

		<div ng-hide="load_list_flag" class="loading_group"><div class="loading list_loading"></div></div>
	</div>
</div>

<div id="loading_group" ng-hide="load_flag"><div class="loading"></div><div class="loading_cover"></div></div>

<script type="text/ng-template" id="createRuleEnsure.html">
	<div ng-cloak class="rm_modal">
		<div class="rm_modal_header">
			<h3>新增结果</h3>
			<a class="rm_modal_close" ng-click="cancel()">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</div>

		<div class="rm_modal_content rm_modal_text_content">
			<p class="rm_modal_text_item">确定要新增该模板规则？</p>
		</div>

		<div class="rm_modal_footer">
			<div class="ud_right">
				<button class="rm_btn rm_btn_default" ng-click="cancel()">取消</button>
				<button class="rm_btn rm_btn_primary" ng-click="next()">确定</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="createRuleResult.html">
	<div ng-cloak class="rm_modal">
		<div class="rm_modal_header">
			<h3>新增结果</h3>
			<a class="rm_modal_close" ng-click="cancel()">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</div>

		<div class="rm_modal_content rm_modal_text_content">
			<p class="rm_modal_text_item" ng-show="successFlag">新生成规则的编码为：<strong><span class="ud_text_success">{{ruleInstanceCode}}</span></strong> 。</p>
			<p class="rm_modal_text_item" ng-hide="successFlag">创建失败，请重新创建。</p>
		</div>

		<div class="rm_modal_footer">
			<div class="ud_right">
				<button class="rm_btn rm_btn_primary" ng-click="cancel()">确定</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</script>
