<div class="rm_content_header">
	<h1 class="title condition_add bold">
		添加新的规则条件--{{ruleInstance.name}}
		<a class="back" ui-sref="ruleDetail({strategyid: strategyId, id:ruleInstanceId})">返回</a>
	</h1>
	<span class="tip">提示：每次可添加一条或多条规则条件。注意规则条件之间为且的关系，只有满足某一规则下所有的规则条件，该规则才会被触发。</span>
</div>

<div class="ud_panel ud_panel-1" cg-busy="savePromise">
	<div class="ud_panel_content ud_panel_content-addrule">
		<table class="ud-tb-addRuleCondition">
			<thead>
				<tr>
					<th>规则条件：<input type="text" placeholder="请输入规则条件关键词" ng-focus="searchReset()" ng-model="searchText" class="ud-ipt" /></th>
					<th class="ud-select">
						<i>{{istime}}</i>
						<ol ng-click="isinTime($event)">
							<li thevalue="-1">全部</li>
							<li thevalue="0">实时</li>
							<li thevalue="2">准实时</li>
							<li thevalue="1">非实时</li>
						</ol>
					</th>
					<th class="ud-select">
						<i>{{isfree}}</i>
						<ol ng-click="isinfree($event)">
							<li thevalue="-1">全部</li>
							<li thevalue="0">免费</li>
							<li thevalue="1">付费</li>
						</ol>
					</th>
					<th class="ud-select">
						<i>{{isopen}}</i>
						<ol ng-click="isbeopen($event)">
							<li thevalue="-2">全部</li>
							<li thevalue="0">已开通</li>
							<li thevalue="-1">未开通</li>
							<li thevalue="2">默认开通</li>
						</ol>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(index,ruleCondition) in ruleConditionList | filter:{isSynchronization:timeStatus,isPay:freeStatus,authorization:openStatus} | filter:{name:searchText}" title="{{ruleCondition._title}}" class="ng-class: {nobold: (ruleCondition.authorization == -1)};" ng-click="cart(ruleCondition,$event)">
					<td>
						<!-- <i style="position: absolute;">1</i> -->
						<input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="ruleCondition.isChosen" ng-disabled="ruleCondition.authorization == -1" ng-click="cartCheck($event)">
						{{ruleCondition.name}}
					</td>
					<td>{{isSynchronization[ruleCondition.isSynchronization]}}</td>
					<td>{{isPay[ruleCondition.isPay]}}</td>
					<td>{{authorization[ruleCondition.authorization]}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="m-addrule">
		<button type="button" class="ud_btn" ng-click="showCartDetail()">
			<span class="glyphicon glyphicon-menu-hamburger"></span>已选择<em class="run-animation" id="ud_animation">{{sum}}</em>个规则条件
		</button>
		<button type="button" class="ud_btn ud_btn_primary" ng-click="save()">完成并保存</button>
		<div class="cartableScroll ng-class: {tablehidden: (istabshow == 0)};">
			<table class="cartable">
				<tbody>
					<tr ng-repeat="(index,ruleCondition) in cartDetails">
						<td>{{index+1}}</td>
						<td>{{ruleCondition.name}}</td>
						<td>{{isSynchronization[ruleCondition.isSynchronization]}}</td>
						<td>{{isPay[ruleCondition.isPay]}}</td>
						<td>{{authorization[ruleCondition.authorization]}}</td>
						<td><a href="javascript:void(0)" ng-click="cancelChoice(ruleCondition.id)">取消选择</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/ng-template" id="failAdd.html">
	<div ng-cloak class="rm_modal">
    <div class="rm_modal_header">
        <h3>添加规则条件</h3>
        <a class="rm_modal_close" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div class="rm_modal_content rm_modal_text_content">
        <div class="rm_modal_text_item">规则条件添加失败</div>
    </div>
	<div class="rm_modal_footer">
        <div class="pull-right">
            <button class="rm_btn rm_btn_primary" ng-click="next()">
             		确定
            </button>
        </div>
        <div class="clearfix" ></div>
    	</div>
	</div>
</script>

<script type="text/ng-template" id="noChosen.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>添加规则条件</h3>
            <a class="rm_modal_close" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">您没有选中规则条件</div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull-right">
                <button class="rm_btn rm_btn_primary" ng-click="next()">
                    确定
                </button>
            </div>
            <div class="clearfix" ></div>
        </div>
    </div>
</script>
