<div cg-busy="getDetailPromise" id="ruleDetailPage">
	<div class="rm_content_header">
		<h1 class="title">
			规则详情
			<a class="back" ui-sref="ruleCenter({strategyId: strategyId})">返回</a>
			<span class="back">|</span>
			<a class="back" ng-click="del()">删除此规则</a>
		</h1>
	</div>

	<div class="ud_panel">
		<div class="ud_panel_header">
			<div class="rm_right">
				<a class="back" ng-click="modifyRuleProperty()">修改规则属性</a>
			</div>
			<p class="title">规则属性</p>
		</div>
		<div class="ud_panel_content">
			<table class="ud_table_B">
				<tbody>
				<tr>
					<th>规则名称</th>
					<td>
						<span ng-hide="ruleName">{{ruleInstance.name}}</span>
						<input type="text" id="ModifyName" ng-model="modifyName" ng-blur="saveRuleName()" ng-hide="ruleNameModify"
							   class="description" focus-on="focusName" />
					</td>
				</tr>
				<tr>
					<th>规则ID</th>
					<td>
						<div ng-hide="ruleCode">{{ruleInstance.code}}</div>
						<div ng-hide="codeRepeat">这个规则ID已经存在了</div>
						<div ng-hide="ruleCodeModify" ><input type="text" ng-model="modifyCode" ng-blur="saveRuleCode()" focus-on="focusCode" class="description" ></div>
					</td>
				</tr>
				<tr>
					<th>规则分值</th>
					<td>
						<div ng-hide="ruleScore">{{ruleInstance.score}}</div>
						<div ng-hide="ruleScoreModify"><input type="text" ng-model="modifyScore" ng-blur="saveRuleScore()" focus-on="focusScore" class="description" ></div>
					</td>
				</tr>
				<tr>
					<th>我的攻略</th>
					<td colspan="2">{{ruleInstance.strategyInstanceName}}</td>
				</tr>
				<tr>
					<th>场景</th>
					<td colspan="2">{{ruleInstance.scenarioInstanceName}}</td>
				</tr>
				<tr>
					<th>锦囊</th>
					<td colspan="2">{{ruleInstance.solutionInstanceName}}</td>
				</tr>
				<tr>
					<th>实时性</th>
					<td colspan="2" >{{isSynchronization[ruleInstance.isSynchronization]}}</td>
				</tr>
				<tr>
					<th>是否收费</th>
					<td colspan="2">{{isPay[ruleInstance.isPay]}}</td>
				</tr>
				<tr>
					<th>启用状态</th>
					<td colspan="2">{{status[ruleInstance.status]}}</td>
				</tr>
				<tr>
					<th>描述</th>
					<td colspan="2">{{ruleInstance.description}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="ud_panel">
		<div class="ud_panel_header">
			<p class="title">规则条件</p>
		</div>

		<div class="ud_panel_content">
			<table class="ud_table_B  rule_condition_list"  ng-repeat="(index,condition) in ruleInstance.ruleConditionInstanceDTOs">
				<tbody>
				<tr>
					<td  class="tdis">
						<div  class="tdi coll"  data-toggle="collapse" data-target="#conditionDetail_{{index}}" ng-click="openCloseCondition(index)">
							{{condition.name}}
							<a class="operation" ng-click="modifyRuleCondition(index)">修改</a>
							<span class="glyphicon glyphicon-menu-down rm_right" ng-hide="conditionOpen[index]"></span>
							<span class="glyphicon glyphicon-menu-up rm_right" ng-show="conditionOpen[index]"></span>
						</div>
						<div id="conditionDetail_{{index}}"  class="collapse">
							<table>
								<tr>
									<td ng-show="condition.dataServiceCode">
										数据服务:{{condition.dataServiceName}}({{condition.dataServiceCode}})
									</td>
								</tr>
								<tr>
									<td>
										数据范围:本域本攻略
									</td>
								</tr>
								<tr>
									<td>
										实时性:{{isSynchronization[condition.isSynchronization]}}
									</td>
								</tr>
								<tr>
									<td>
										是否收费:{{isPay[condition.isPay]}}
									</td>
								</tr>
								<tr ng-repeat="param in condition.ruleParameters">
									<td ng-hide="param.value == null">{{param.name}}: {{param.value}}</td>
									<td ng-show="param.value == null">{{param.name}}: {{param.defaultValue}}</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			<table class="ud_table_B rule_condition_list">
				<tbody>
				<tr>
					<td><div class="rm_center"><a  class="ud_add_btn" ui-sref="ruleCondition({id: ruleInstance.id, strategyId: strategyId})"><span class="glyphicon glyphicon-plus"></span>添加新的规则条件</a></div></td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>

	<!--div class="ud_panel">
        <div class="ud_panel_header">
            <p class="title">更新历史</p>
        </div>
        <div class="ud_panel_content">
            <table class="ud_table_B">
                <tr ng-repeat="(index, history) in ruleHistory" >
                    <th class="date">
                        {{history.lastModifiedDate | date:'yyyy-MM-dd HH:mm:ss'}}
                    </th>
                    <td class="tdis">
                        <div class="tdi coll" data-toggle="collapse" data-target="#history_{{index}}" ng-click="openCloseCollapse(index)">
                                <span class="glyphicon glyphicon-menu-down rm_right" ng-hide="historyOpen[index]"></span>
                                <span class="glyphicon glyphicon-menu-up rm_right" ng-show="historyOpen[index]"></span>
                            {{history.operateType}}
                        </div>
                        <div id="history_{{index}}" class="collapse">
                            <div class="tdi">
                                <span class="tit">
                                规则名称：
                                </span>
                                <span class="des">{{history.name}}</span>
                            </div>
                            <div class="tdi">
                                <span class="tit">
                                规则ID：
                                </span>
                                <span class="des">{{history.ruleInstancecode}}</span>
                            </div>
                            <div class="tdi">
                                <span class="tit">
                                规则分值：
                                </span>
                                <span class="des">{{history.score}}</span>
                            </div>
                            <div  class="tdi">
                                <span class="tit">
                                规则参数：
                                </span>
                                <span class="des" ng-repeat="item in history.ruleParameters">
                                    <span class="tit">{{item.name}}:</span>
                                    <span class="des">{{item.value}}</span>
                                </span>
                                <br/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>-->

	<div class="ud_panel">
		<div class="ud_panel_header">
			<p class="title">更新历史</p>
		</div>
		<div class="ud_panel_content">
			<table class="ud_table_B">
				<tr ng-repeat="(index, history) in ruleHistory" ng-class="{active:historyOpen[index]==true}">
					<th class="date" ng-class="{active:historyOpen[index]==true, nextactive:historyOpen[index+1]==true}" >
						{{history.date | date:'yyyy-MM-dd HH:mm:ss'}}
					</th>
					<td class="tdis"  ng-class="{active:historyOpen[index]==true, nextactive:historyOpen[index+1]==true}">
						<div class="tdi coll" ng-show="history.displayType == '0'">
							<div ng-hide="historyOpen[index]">
								<div class="width-limited">{{history.eventSummary}}</div>
							</div>
						</div>
						<div class="tdi coll cols" data-toggle="collapse"  ng-hide="history.displayType == '0'"
							 data-target="#history_{{index}}" ng-click="openCloseCollapse(index)">
							<span class="glyphicon glyphicon-menu-down rm_right" ng-hide="historyOpen[index]"></span>
							<span class="glyphicon glyphicon-menu-up rm_right" ng-show="historyOpen[index]"></span>
							<div ng-hide="historyOpen[index]">
								<div class="width-limited">{{history.eventSummary}}</div>
							</div>

							<div id="history_{{index}}" class="collapse" ng-hide="history.displayType == '0'">
								<div class="tdii" ng-repeat="item in history.actions">
									<div class="tdii">{{item.title}}</div>

									<div class="tdii"  ng-show="history.displayType == '1' && item.contents.length!='0'">
										<div ng-repeat="content in item.contents">
											<div class="compare-item before" >
												<span>{{content.field}}</span>
												<span>{{content.value2}}</span>
											</div>
											<div class="compare-item" >
												<span><img src="../../../content/images/jiantou.png"/></span>
											</div>
											<div class="compare-item">
												<span>{{content.field}}</span>
												<span>{{content.value1}}</span>
											</div>
										</div>
									</div>

									<div class="tdii"  ng-show="history.displayType == '3'  && item.contents.length!='0'">
										<div class="condition-group compare-item before">
											<div>{{item.name}}</div>
											<div ng-repeat="content1 in item.contents">{{content1.field}}: {{content1.value2}}</div>
										</div>
										<div class="compare-item">
											<span><img src="../../../content/images/jiantou.png"/></span></div>
										<div class="condition-group  compare-item">
											<div>{{item.name}}</div>
											<div ng-repeat="content2 in item.contents">{{content2.field}}: {{content2.value1}}</div>
										</div>
									</div>

									<div class="tdii"  ng-show="history.displayType == '2'">
										<div class="condition-group compare-item">
											<div>{{item.name}}</div>
											<div ng-repeat="content3 in item.contents">{{content3.field}}: {{content3.value1}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>


	<script type="text/ng-template" id="ruleIsUsed.html">
		<div ng-cloak class="rm_modal">
			<div class="rm_modal_header">
				<h3>删除规则</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<div class="rm_modal_text_item">该规则状态为启用，请停用规则后再尝试删除</div>
			</div>
			<div class="rm_modal_footer">
				<div class="rm_right">
					<button class="rm_btn rm_btn_primary" ng-click="cancel()">
						确定
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="updateEnsure_noChange.html">
		<div ng-cloak class="rm_modal">
			<div class="rm_modal_header">
				<h3>保存修改</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<div class="rm_modal_text_item">您没有做出任何改动</div>
			</div>
			<div class="rm_modal_footer">
				<div class="rm_right">
					<button class="rm_btn rm_btn_primary" ng-click="cancel()">
						确定
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="deleteEnsure.html">
		<div ng-cloak class="rm_modal">
			<div class="rm_modal_header">
				<h3>删除规则</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<div class="rm_modal_text_item">您确认要删除这条规则么</div>
			</div>
			<div class="rm_modal_footer">
				<div class="pull-right">
					<button class="rm_btn rm_btn_default" ng-click="cancel()">
						取消
					</button>
					<button class="rm_btn rm_btn_primary" ng-click="next()">
						确定
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="updateEnsure.html">
		<div ng-cloak class="rm_modal">
			<div class="rm_modal_header">
				<h3>保存修改</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<div class="rm_modal_text_item">您确认要修改这条规则么</div>
			</div>
			<div class="rm_modal_footer">
				<div class="rm_right">
					<button class="rm_btn rm_btn_default" ng-click="cancel()">
						取消
					</button>
					<button class="rm_btn rm_btn_primary" ng-click="next()">
						确定
					</button>
				</div>
				<div class="clearfix" ></div>
			</div>
		</div>
	</script>

	<!-- 修改规则属性弹窗 -->
	<script type="text/ng-template" id="modifyRuleProperty.html">
		<div ng-cloak class="rm_modal" cg-busy="savePromise">
			<div class="rm_modal_header">
				<h3>修改规则属性</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<table class="ud_table_B">
					<tr>
						<th>规则名称</th>
						<td>
							<input type="text" ng-model="ruleProperties.name" class="description"  ng-change="check_name()"/>
							<span class="rm_error_info" ng-show="nameIsNull">规则名称不能为空</span>
						</td>
					</tr>
					<tr>
						<th>规则ID</th>
						<td>
							<input type="text" id="ModifyName" ng-model="ruleProperties.code" ng-hide="ruleNameModify"
								   class="description" focus-on="focusName" ng-change="check_code()"/>
							<span class="rm_error_info" ng-show="codeIsNull">规则ID不能为空</span>
							<span class="rm_error_info" ng-show="codeRepeat">规则ID不能重复</span>
						</td>
					</tr>
					<tr>
						<th>规则分值</th>
						<td>
							<input type="number" id="ModifyName" ng-model="ruleProperties.score" ng-hide="ruleNameModify"
								   class="description" focus-on="focusName" ng-change="check_score()"/>
							<span class="rm_error_info" ng-show="scoreIsNull">规则分值不能为空</span>
							<span class="rm_error_info" ng-show="scoreInvalid">规则分值只能是1-100之间的整数</span>
						</td>
					</tr>
					<tr>
						<th>我的攻略</th>
						<td colspan="2">{{ruleProperties.strategyInstanceName}}</td>
					</tr>
					<tr>
						<th>场景</th>
						<td colspan="2">{{ruleProperties.scenarioInstanceName}}</td>
					</tr>
					<tr>
						<th>锦囊</th>
						<td colspan="2">{{ruleProperties.solutionInstanceName}}</td>
					</tr>
					<tr>
						<th>实时性</th>
						<td colspan="2" >{{isSynchronization[ruleProperties.isSynchronization]}}</td>
					</tr>
					<tr>
						<th>是否收费</th>
						<td colspan="2">{{isPay[ruleProperties.isPay]}}</td>
					</tr>
					<tr>
						<th>启用状态</th>
						<td>
							<switch ng-click="setRuleStatus()" ng-model="status" on="开" off="关"/>
						</td>
					</tr>
					<tr>
						<th>描述</th>
						<td>
							<textarea rows="10" cols="30" ng-model="ruleProperties.description"></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div class="rm_modal_footer">
				<div class="pull-right">
					<button class="rm_btn rm_btn_default" ng-click="cancel()">
						取消
					</button>
					<button class="rm_btn rm_btn_primary" ng-click="save()">
						保存修改
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>

	<!-- 修改规则条件参数 -->
	<script type="text/ng-template" id="modifyRuleCondition.html">
		<div ng-cloak class="rm_modal" cg-busy="savePromise">
			<div class="rm_modal_header">
				<h3>规则条件修改</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content" ng-hide="conditionProperties.ruleParameters.length == 0">
				<table class="ud_table_B">
					<tr ng-repeat="param in conditionProperties.ruleParameters">
						<th>规则参数</th>
						<td>
							{{param.name}}: <input type="text" ng-model="param.value" ng-change="check_invalid()"/>
							<span class="rm_error_info" ng-show="isNull[$index]">参数不为空</span>
							<span class="rm_error_info" ng-show="valueInvalid[$index]">参数只能为正整数</span>
						</td>
					</tr>
				</table>
			</div>
			<div class="rm_modal_content rm_modal_text_content" ng-show="conditionProperties.ruleParameters.length == 0">
				<div class="rm_modal_text_item">该条件无可修改参数。</div>
			</div>
			<div class="rm_modal_footer">
				<div class="pull-right">
					<button class="rm_btn rm_btn_default" ng-click="cancel()">
						取消
					</button>
					<button class="rm_btn rm_btn_primary" ng-click="save()" ng-disabled="conditionProperties.ruleParameters.length == 0">
						保存修改
					</button>
				</div>
				<div>
					<a class="back" ng-click="del()">删除该规则条件</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="cannotDelCondition.html">
		<div ng-cloak class="rm_modal">
			<div class="rm_modal_header">
				<h3>规则条件删除</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<div class="rm_modal_text_item">
					当规则条件为唯一时，您不能删除它。
				</div>
			</div>
			<div class="rm_modal_footer">
				<div class="pull-right">
					<button class="rm_btn rm_btn_primary" ng-click="next()">
						确定
					</button>
				</div>
				<div class="clearfix" ></div>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="deleteConditionEnsure.html">
		<div ng-cloak class="rm_modal">
			<div class="rm_modal_header">
				<h3>删除规则</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<div class="rm_modal_text_item">您确认要删除这条规则条件么</div>
			</div>
			<div class="rm_modal_footer">
				<div class="pull-right">
					<button class="rm_btn rm_btn_default" ng-click="cancel()">
						取消
					</button>
					<button class="rm_btn rm_btn_primary" ng-click="next()">
						确定
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="ruleIsNotUsed.html">
		<div ng-cloak class="rm_modal">
			<div class="rm_modal_header">
				<h3>规则条件删除</h3>
				<a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
			</div>
			<div class="rm_modal_content rm_modal_text_content">
				<div class="rm_modal_text_item">当规则为停用状态时，您不能删除它。</div>
			</div>
			<div class="rm_modal_footer">
				<div class="pull-right">
					<button class="rm_btn rm_btn_primary" ng-click="next()">
						确定
					</button>
				</div>
				<div class="clearfix" ></div>
			</div>
		</div>
	</script>
</div>
