<div>

    <div class="rmn_content_header">
        <div class="sv_nav_nlinks">
            <a class="sv_link_item" ng-class="{active:gridType==1}" ng-click="changeGridType(1)">规则</a>
            <a class="sv_link_item" ng-class="{active:gridType==2}" ng-click="changeGridType(2)">指标</a>
            <a class="sv_link_item" ng-class="{active:gridType==3}" ng-click="changeGridType(3)">请求字段</a>
        </div>

        
        <div class="subtitle clearfix">
            <div class="rm_left">
                <div  class="big" uib-dropdown on-toggle="dropdown">
                    <h1 class="title" uib-dropdown-toggle>{{strategyName}}<span class="iconfont fs14 mr10 ml5">&#xe746;</span></h1>
                    <ul class="dropdown-menu" uib-dropdown-menu >
                        <li ng-repeat="ent in strategyList" ng-class="{checked:strategyId==ent.id}">
                          <a ng-click="clickStrategyList(ent)" class="strategy_name">{{ent.name}}</a>
                          <a ng-click="copyStrategy(ent)" class="hide_option">复制此攻略</a>
                        </li>
                    </ul>
                    <div class="dropdown-endline" ui-sref="createStrategyStep1"><span class="iconfont">&#xe69e;</span>创建新的攻略</div>
                </div>      
            </div>
            <span class="rm_left iconfont fs19 mr10" tooltip-class="normalClass" uib-tooltip="攻略设置" ui-sref="editGuide">&#xe6c8;</span>
                        </select> 
            <div class="rm_right"> 
                <div ng-if="gridType==1;">             
                    <div class="rm_left chosen small nocolor">
                        <select style="width:100%" chosen disable-search="true" ng-model="selectTmp.selectType1" ng-options="ent.id as ent.name for ent in selectTmp.selectTypesList1" ng-change="queryTypeChange1()">
                            <option value=""></option>
                        </select> 
                    </div><div class="nsearch">
                        <input ng-show="selectTmp.selectType1==1" type="text" class="nsearch-item" placeholder="请输入关键字"
                               ng-model="selectTmp.keyword1" size="25" ng-keypress="queryByEnterKey1($event)" ng-blur="selectTmp.showFieldFlag=false;" ng-focus="selectTmp.showFieldFlag=true;"/><span class="iconfont nsearch-fdj" ng-click="selectRules()" >&#xe705;</span>
                        <div ng-show="selectTmp.selectType1==2" class="udi-typeahead-select">
                            <input type="text" ng-model="selectTmp.keyword1" placeholder="请输入关键字" uib-typeahead="ent as ent.name for ent in  parameterSelList | filter:$viewValue" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" ng-keypress="queryByEnterKey1($event)">
                            <span class="iconfont nsearch-fdj" ng-click="selectRules()">&#xe705;</span>
                        </div>
                    </div>
                    <div class="rm_left" uib-dropdown on-toggle="dropdown">
                        <a type="button" class="rm_nbtn rm_nbtn_primary"  uib-dropdown-toggle><span class="iconfont fs16">&#xe69e;</span>添加</a>
                        <ul class="dropdown-menu" style="margin-left: -35px;" uib-dropdown-menu >
                            <li ng-click="clickCreateChoose(ent)" ng-repeat="ent in createChooseList">
                              <a >{{ent}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="gridType==2;">             
                    <div class="rm_left chosen small nocolor">
                        <select style="width:100%" chosen disable-search="true" ng-model="selectTmp.selectType2" ng-options="ent.id as ent.name for ent in selectTmp.selectTypesList2" ng-change="queryTypeChange1()">
                            <option value=""></option>
                        </select> 
                    </div><div class="nsearch">
                        <input ng-show="selectTmp.selectType2==1" type="text" class="nsearch-item" placeholder="请输入关键字"
                               ng-model="selectTmp.keyword2" size="25" ng-keypress="queryByEnterKey2($event)" /><span class="iconfont nsearch-fdj" ng-click="selectPredicators()">&#xe705;</span>
                           <div ng-show="selectTmp.selectType2==2" class="udi-typeahead-select">
                                <input type="text" ng-model="selectTmp.keyword2" placeholder="请输入关键字" uib-typeahead="ent as ent.name for ent in  parameterSelList | filter:$viewValue" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" ng-keypress="queryByEnterKey2($event)">
                                <span class="iconfont nsearch-fdj" ng-click="selectPredicators()">&#xe705;</span>
                            </div>
                    </div>
                    <div class="dropdown rm_left">
                        <a type="button" class="rm_nbtn rm_nbtn_primary" ng-click="addParameter()"><span class="iconfont fs16">&#xe69e;</span>添加指标</a>
                    </div>
                </div>
                <div ng-if="gridType==3;">             
                    <div class="nsearch">
                        <input type="text" class="nsearch-item" placeholder="请按字段搜索"
                               ng-model="selectTmp.keyword3" size="25" ng-keypress="queryByEnterKey3($event)" /><span class="iconfont nsearch-fdj" ng-click="parameterFilerChange()">&#xe705;</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="rmn_content_normal"> 

        <!-- 规则 -->
        <div ud-table-title ng-show="gridType==1">
        <table class="table_createStrategy auto-thead-rule"  >
            <thead>
            <tr>
                <th>场景</th>
                <th>锦囊</th>
                <th>规则</th>
                <th>
                    <div class="table_title" uib-dropdown on-toggle="dropdown">
                        <h1 class="title"  uib-dropdown-toggle>分值<span class="iconfont fs12">&#xe746;</span></h1>
                        <ul class="dropdown-menu w240" uib-dropdown-menu >
                            <li ng-class="{checked:tFilter.scoreIndex==0}" ng-click="tFilter.scoreIndex=0;ruleFilerChange();"><a>全部</a></li>
                            <li class="nohover">
                                <input class="s-input" ng-click="clickDropdownInput($event)" type="text" ng-model="tFilter.scoreLeft">-
                                <input class="s-input" type="text" ng-click="clickDropdownInput($event)" ng-model="tFilter.scoreRight">
                                <span type="button" class="rm_nbtn rm_nbtn_primary" ng-click="tFilter.scoreIndex=1;ruleFilerChange();" >确认</span></li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="table_title" uib-dropdown on-toggle="dropdown">
                        <h1 class="title" uib-dropdown-toggle>状态<span class="iconfont fs12">&#xe746;</span></h1>
                        <ul class="dropdown-menu" uib-dropdown-menu >
                            <li ng-class="{checked:tFilter.statusIndex==0}" ng-click="tFilter.statusIndex=0;ruleFilerChange();"><a>全部</a></li>
                            <li ng-class="{checked:tFilter.statusIndex==1}" ng-click="tFilter.statusIndex=1;ruleFilerChange();"><a>启用</a></li>
                            <li ng-class="{checked:tFilter.statusIndex==2}" ng-click="tFilter.statusIndex=2;ruleFilerChange();"><a>不启用</a></li>
                        </ul>
                        <div class="dropdown-endline three_child" ng-click="changeAllRuleStatus()">
                            <a class="iconfont fs48 mr10" ng-show="allStatus=='1'">&#xe71b;</a><span ng-show="allStatus=='1'">一键启用</span>
                            <a class="iconfont fs48 mr10 cgreen" ng-show="allStatus=='0'">&#xe71c;</a><span ng-show="allStatus=='0'">一键关闭</span>

                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rule in allRuleList" ng-show="showRuleTr(rule)">
                    <td class="scenario vertical_align_middle" ng-show="rule.showScenario" rowspan="{{rule.scenarioRow}}">                    
                        <div ng-show="rule.ScenariosName">
                            <span class="hide_option iconfont fs20" ng-click="changScenarioShow(rule)" tooltip-class="normalClass" uib-tooltip="展开" ng-show="showScenarioList.indexOf(rule.ScenariosId)==-1">&#xe746;</span>
                            <span class="hide_option iconfont fs20" ng-click="changScenarioShow(rule)" tooltip-class="normalClass" uib-tooltip="收缩" ng-show="showScenarioList.indexOf(rule.ScenariosId)>-1">&#xe6f8;</span>
                            <span class="hide_option iconfont fs20" ng-click="addSolution(rule)" tooltip-class="normalClass" uib-tooltip="添加锦囊">&#xe69e;</span>
                            {{rule.ScenariosName}}
                        </div>
                    </td>
                    <td class="solution vertical_align_middle" ng-show="rule.showSolution" rowspan="{{rule.solutionRow}}">
                        <div ng-show="rule.SolutionsName">
                            <span class="hide_option iconfont fs20" ng-click="changSolutionShow(rule)" tooltip-class="normalClass" uib-tooltip="展开" ng-show="showSolutionList.indexOf(rule.SolutionsId)==-1">&#xe746;</span>
                            <span class="hide_option iconfont fs20" ng-click="changSolutionShow(rule)" tooltip-class="normalClass" uib-tooltip="收缩" ng-show="showSolutionList.indexOf(rule.SolutionsId)>-1">&#xe6f8;</span>
                            <span class="hide_option iconfont fs20" ng-click="addrule(rule)" tooltip-class="normalClass" uib-tooltip="添加规则">&#xe69e;</span>
                            <span class="solution_text ud_too_long_text">
                                 <span class="hover" tooltip-class="normalClass" uib-tooltip="编辑锦囊" ng-click="editSolution(rule)">
                                    {{rule.SolutionsName}}
                                </span>
                            </span>
                        </div>
                    </td>
                    <td class="rule vertical_align_middle" ng-class="{borange:rule.isNew=='0',corange:rule.isNew=='0', cgrey: rule.status=='1'}" ng-show="ngShowRule(rule)">
                        <span>
                            <a class="hover" title="{{rule.name}}" tooltip-class="normalClass" uib-tooltip="编辑规则" ng-click="editRule(rule)" >
                                {{rule.name}}
                            </a>
                        </span>
                    </td>
                    <td class="rule vertical_align_middle" ng-class="{borange:rule.isNew=='0', corange:rule.isNew=='0', cgrey: rule.status=='1'}" ng-show="ngShowRule(rule)">
                        <span >
                            {{rule.score}}
                        </span>
                    </td>
                    <td class="rule vertical_align_middle" ng-class="{borange:rule.isNew=='0'}" ng-show="ngShowRule(rule)">
                        <div ng-show="rule.name">
                            <a class="iconfont fs48 rm_left" ng-show="rule.status=='1'" ng-click="changeRuleStatus(rule)">&#xe71b;</a>
                            <a class="iconfont fs48 rm_left cgreen" ng-show="rule.status=='0'" ng-click="changeRuleStatus(rule)">&#xe71c;</a>
                            <a class=" hide_option iconfont fs24" tooltip-class="normalClass" uib-tooltip="删除规则" ng-click="deleteRule(rule)">&#xe69d;</a>
                            <a class=" hide_option iconfont fs24" tooltip-class="normalClass" uib-tooltip="复制规则" ng-click="copyRule(rule)">&#xe6b5;</a>
                        </div>                 
                    </td>
                    <td class="rule vertical_align_middle" ng-show="showEmptyLine(rule)" colspan="3">
                    </td>
                </tr>               
            </tbody>
            <tbody ng-show="allRuleList.length==0">
                <tr >
                    <td class="norule vertical_align_middle" colspan="5">
                        点击右上角按钮，添加场景、锦囊或规则
                    </td>
                </tr>               
            </tbody>
        </table>
        </div>

        <!-- 指标 -->
        <div ud-table-title ng-show="gridType==2">
        <table class="table_createStrategy auto-thead-predicator" >
            <thead>
            <tr>
                <th>指标名</th>
                <th>
                    <div class="table_title" uib-dropdown on-toggle="dropdown">
                        <h1 class="title" uib-dropdown-toggle>作用域<span class="iconfont fs12">&#xe746;</span></h1>
                        <ul class="dropdown-menu" uib-dropdown-menu >
                            <li ng-class="{checked:tFilter.scopeIndex==0}" ng-click="tFilter.scopeIndex=0;"><a>全部</a></li>
                            <li ng-class="{checked:tFilter.scopeIndex==1}" ng-click="tFilter.scopeIndex=1;"><a>本攻略</a></li>
                            <li ng-class="{checked:tFilter.scopeIndex==2}" ng-click="tFilter.scopeIndex=2;"><a>本商户</a></li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="table_title" uib-dropdown on-toggle="dropdown">
                        <h1 class="title" uib-dropdown-toggle>状态<span class="iconfont fs12">&#xe746;</span></h1>
                        <ul class="dropdown-menu" uib-dropdown-menu >
                            <li ng-class="{checked:tFilter.statusIndex==0}" ng-click="tFilter.statusIndex=0;"><a>全部</a></li>
                            <li ng-class="{checked:tFilter.statusIndex==1}" ng-click="tFilter.statusIndex=1;"><a>启用</a></li>
                            <li ng-class="{checked:tFilter.statusIndex==2}" ng-click="tFilter.statusIndex=2;"><a>不启用</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="predicator in predicatorList | filter:predicatorFilter as results">
                    <td class="rule vertical_align_middle" ng-class="{ cgrey: predicator.status=='1'}">                      
                        <span>
                            <a class="hover" title="{{predicator.name}}"  tooltip-class="normalClass" uib-tooltip="编辑指标" ng-click="editpredicator(predicator)">
                                {{predicator.name}}
                            </a>                        
                        </span>
                    </td>
                    <td class="rule vertical_align_middle" ng-class="{cgrey: predicator.status=='1'}">
                        {{scopeMap[predicator.scope||2]}}
                    </td>
                    <td class="rule vertical_align_middle">
                        <a class="iconfont fs48 rm_left" ng-show="predicator.status=='1'" ng-click="changePredicatorStatus(predicator)">&#xe71b;</a>
                        <a class="iconfont fs48 rm_left cgreen" ng-show="predicator.status=='0'" ng-click="changePredicatorStatus(predicator)">&#xe71c;</a>
                        <a class=" hide_option iconfont fs24" tooltip-class="normalClass" uib-tooltip="删除指标" ng-click="deletePredicator(predicator)">&#xe69d;</a>                 
                    </td>
                </tr>                 
                <tr>
                    <td colspan="6" ng-show="predicatorList.length == 0 || results.length == 0">无查询结果</td>
                </tr>           
            </tbody>
        </table>
        </div>
        <!-- 请求字段 -->
        <div ud-table-title ng-show="gridType==3">
        <table class="table_createStrategy auto-thead" >
            <thead>
            <tr>
                <th>场景
                    <!-- 
                    <div class="table_title" uib-dropdown on-toggle="dropdown">
                        <h1 class="title" uib-dropdown-toggle><span class="iconfont fs12">&#xe746;</span></h1>
                        <ul class="dropdown-menu" uib-dropdown-menu >
                            <li ng-class="{checked:tFilter.scenarioIndex==0}" ng-click="tFilter.scenarioIndex=0;parameterFilerChange()"><a>全部</a></li>
                            <li ng-repeat="ent in parameterList" ng-class="{checked:tFilter.scenarioIndex==ent.scenarioName}" ng-click="tFilter.scenarioIndex=ent.scenarioName;parameterFilerChange()"><a>{{ent.scenarioName}}</a></li>
                        </ul>
                    </div> -->
                </th>
                <th>显示名</th>
                <th>字段名</th>
                <th>
                    <div class="table_title" uib-dropdown on-toggle="dropdown">
                        <h1 class="title" uib-dropdown-toggle>维度<span class="iconfont fs12">&#xe746;</span></h1>
                        <ul class="dropdown-menu" uib-dropdown-menu >
                            <li ng-class="{checked:tFilter.dimensionIndex==0}" ng-click="tFilter.dimensionIndex=0;parameterFilerChange()"><a>全部</a></li>
                            <li ng-repeat="ent in dimensionList" ng-class="{checked:tFilter.dimensionIndex==ent.name}" ng-click="tFilter.dimensionIndex=ent.name;parameterFilerChange()"><a>{{ent.name}}</a></li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="table_title" uib-dropdown on-toggle="dropdown">
                        <h1 class="title" uib-dropdown-toggle>类型<span class="iconfont fs12">&#xe746;</span></h1>
                        <ul class="dropdown-menu" uib-dropdown-menu >
                            <li ng-class="{checked:tFilter.typeIndex==0}" ng-click="tFilter.typeIndex=0;parameterFilerChange()"><a>全部</a></li>
                            <li ng-repeat="ent in typeList" ng-class="{checked:tFilter.typeIndex==ent.name}" ng-click="tFilter.typeIndex=ent.name;parameterFilerChange()"><a>{{ent.name}}</a></li>
                        </ul>
                    </div>
                </th>
                <th>最大长度</th>
                <th>说明</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="parameter in allParameterList" ng-show="showParameterTr(parameter)">
                    <td class="scenario vertical_align_middle" ng-show="parameter.showScenario" rowspan="{{parameter.scenarioRow}}">
                        {{parameter.ScenariosCode}}_{{parameter.ScenariosName}}
                    </td>
                    <td class="rule vertical_align_middle" ng-if="parameter.isShow" ng-show="parameter.fieldName" ng-class="{cgrey:parameter.isGray=='1'}" title="{{parameter.displayName}}">
                         <span>{{parameter.displayName}} </span>
                    </td>
                    <td class="rule vertical_align_middle" ng-if="parameter.isShow" ng-show="parameter.fieldName" ng-class="{cgrey:parameter.isGray=='1'}" title="{{parameter.fieldName}}" >
                        <span>{{parameter.fieldName}}</span>
                    </td>
                    <td class="rule vertical_align_middle" ng-if="parameter.isShow" ng-show="parameter.fieldName" ng-class="{cgrey:parameter.isGray=='1'}">
                        {{parameter.dimension}}
                    </td>
                    <td class="rule vertical_align_middle" ng-if="parameter.isShow" ng-show="parameter.fieldName" ng-class="{cgrey:parameter.isGray=='1'}">
                        {{parameter.type}}
                    </td>
                    <td class="rule vertical_align_middle" ng-if="parameter.isShow" ng-show="parameter.fieldName" ng-class="{cgrey:parameter.isGray=='1'}">
                        {{parameter.maxLength}}
                    </td>
                    <td class="rule vertical_align_middle" title="{{parameter.description}}" ng-if="parameter.isShow" ng-show="parameter.fieldName" ng-class="{cgrey:parameter.isGray=='1'}">
                        <span>{{parameter.description}}</span>
                    </td>
                    <td class="rule vertical_align_middle" ng-show="!parameter.fieldName" colspan="6" ng-class="{cgrey:parameter.isGray=='1'}">
                        该场景没有请求字段
                    </td>
                    <td class="rule vertical_align_middle" ng-show="!parameter.isShow" colspan="6" >
                    </td>
                </tr>                
            </tbody>
        </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="CopyStrategy.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                确定复制<span class="rm_create_title">{{strategyCopyName}}</span>攻略么？
            </div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull_center">
                <button class="rm_nbtn rm_nbtn_primary" ng-click="cancel()">
                    取消
                </button>
                <button class="rm_nbtn rm_nbtn_primary" ng-click="ok()">
                    确定
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="CopyStrategyOK.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                <div class="iconfont fs64 cgreen">&#xe6c0;</div>
                <div>攻略<span class="rm_create_title">{{strategyCopyedName}}</span>已成功复制！</div>
                <br>
                <a class="operation fs16" ng-click="goStrategy(strategyCopyedID)" >进入攻略</a>
                <a class="operation fs16">|</a>
                <a class="operation fs16" ng-click="cancel()">关闭弹窗</a>
            </div>
        </div>
        
    </div>
</script>

<script type="text/ng-template" id="CopyRule.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                请选择<span class="rm_create_title">{{ruleName}}</span>添加到哪个场景和锦囊：
                <div class="rm_modal_form">
                    <div class="ud_form_group_lg">
                        <label class="t">选择场景</label>
                        <div class="c">
                            <div class="chosen big">
                                <select chosen data-placeholder-text-single="'选择所属场景'" disable-search="true" ng-model="dataTmp.scenarioEnt" ng-change="changeScenario()" ng-options="ent.name for ent in dataTmp.scenarioList">
                                    <option value=""></option>
                                </select> 
                            </div>
                            <span ng-class="{ud_text_error: tip_scenario.invalid, ud_text_correct: !(tip_scenario.invalid)}">{{tip_scenario.info}}</span>
                        </div>
                    </div>
                    <div class="ud_form_group_lg">
                        <label class="t">选择锦囊</label>
                        <div class="c">
                            <div class="chosen big">
                                <select chosen data-placeholder-text-single="'选择所属锦囊'" data-no-results-text="'该场景下没有锦囊，请先添加锦囊'"  disable-search="true" ng-model="dataTmp.solutionEnt" ng-change="validate_solution()" ng-options="ent.name for ent in dataTmp.solutionList">
                                    <option value=""></option>
                                </select> 
                            </div>
                            <span ng-class="{ud_text_error: tip_solution.invalid, ud_text_correct: !(tip_solution.invalid)}">{{tip_solution.info}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull_center">
                <button class="rm_nbtn rm_nbtn_primary" ng-click="cancel()">
                    取消
                </button>
                <button class="rm_nbtn rm_nbtn_primary" ng-click="ok()">
                    确定
                </button>
                <!-- <span ng-class="{ud_text_error: tip_all.invalid, ud_text_correct: !(tip_all.invalid)}">{{tip_all.info}}</span> -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="CopyRuleOK.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                <div class="iconfont fs64 cgreen">&#xe6c0;</div>
                <div>该规则，已添加至<span class="rm_create_title">{{ScenariosName}}</span>的<span class="rm_create_title">{{SolutionsName}}</span>下！</div>
            </div>
        </div>
        
    </div>
</script>

<script type="text/ng-template" id="DeleteRule.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                确定是否删除<span class="rm_create_title">{{ruleName}}</span>？
            </div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull_center">
                <button class="rm_nbtn rm_nbtn_primary" ng-click="cancel()">
                    取消
                </button>
                <button class="rm_nbtn rm_nbtn_primary" ng-click="ok()">
                    确定
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="DeletePredicator.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                确定是否删除<span class="rm_create_title">{{name}}</span>？
            </div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull_center">
                <button class="rm_nbtn rm_nbtn_primary" ng-click="cancel()">
                    取消
                </button>
                <button class="rm_nbtn rm_nbtn_primary" ng-click="ok()">
                    确定
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="CantDeletePredicator.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                <!-- <div class="iconfont fs64 cgreen">&#xe6c0;</div> -->
                <div>该指标正在被<span ng-show="ruleName">  规则：<span class="rm_create_title">{{ruleName}}</span></span><span ng-show="predicatorName">  指标：<span class="rm_create_title">{{predicatorName}}</span></span>使用，无法{{optionType}}</div>
            </div>
        </div>
        
    </div>
</script>
