<div ng-cloak class="rm_modal" id="createStrategy_fail_msg">
    <div class="rm_modal_header">
        <h3>创建攻略</h3>
        <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
    </div>
    <div class="rm_modal_content rm_modal_text_content">
        <div class="rm_modal_text_item">创建失败请重试</div>
    </div>
    <div class="rm_modal_footer">
        <div class="pull_center">
            <button class="rm_btn rm_btn_primary" ng-click="cancel()">
                确定
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
