<div>
    <div class="rmn_content_header rmn_bottomline">
        <h1 class="title">
            创建攻略
        </h1>
        <ul class="progressBar">
            <li class="progressItem active"><span class="pbNum">1</span> 定义攻略</li>
            <li class="progressItem"><span class="pbNum">2</span> 选择攻略内容</li>
            <li class="progressItem"><span class="pbNum">3</span> 完成创建</li>
        </ul>
    </div>

    <div class="rmn_content_normal rmn_footer">
        <div class="rmn_empty_line20"></div>
        <form role="form" class="ud_form_lg">
            <div class="ud_form_group_lg">
                <label class="t">攻略名称</label>
                <div class="c">
                    <input type="text" placeholder="请输入攻略名称" class="ud_input_lg" ng-model="sessionData.name" ng-change="validate_name()" ng-blur=validate_name()><span ng-class="{ud_text_error: tip_name.invalid, ud_text_correct: !(tip_name.invalid)}" maxlength="20">{{tip_name.info}}</span>
                </div>
            </div>

            <div class="ud_form_group_lg">
                <label class="t">攻略ID</label>
                <div class="c">
                    <input type="text" placeholder="请输入攻略ID" class="ud_input_lg" ng-model="sessionData.code" ng-change="validate_code()" ng-blur="validate_code()"/><span ng-class="{ud_text_error: tip_code.invalid, ud_text_correct: !(tip_code.invalid)}" maxlength="20">{{tip_code.info}}</span>
                </div>
            </div>

            <div class="ud_form_group_lg">
                <label class="t">应用平台</label>
                <div class="c">
                    <div class="chosen big">
                        <select chosen data-placeholder-text-single="' 请选择应用平台'" disable-search="true" ng-model="sessionData.platform" ng-change="validate_platform()" ng-options="ent.code as ent.name for ent in sessionData.platformsList">
                            <option value=""></option>
                        </select> 
                    </div>
                    <span ng-class="{ud_text_error: tip_platform.invalid, ud_text_correct: !(tip_platform.invalid)}">{{tip_platform.info}}</span>
                </div>                
            </div>

            <div class="ud_form_group_lg">
                <label class="t">行业</label>
                <div class="c">
                    <div class="chosen big">
                        <select chosen data-placeholder-text-single="'请选择行业'" disable-search="true" ng-model="sessionData.industrieEnt" ng-change="validate_industrie()" ng-options="ent.name for ent in sessionData.industriesList">
                            <option value=""></option>
                        </select> 
                    </div>
                    <span ng-class="{ud_text_error: tip_industrie.invalid, ud_text_correct: !(tip_industrie.invalid)}">{{tip_industrie.info}}</span>
                </div>
            </div>

            <div class="ud_form_group_lg">
                <label class="t">选择模板</label>
                <div class="c" ng-repeat="item in sessionData.createTypeList">
                    <a class="ud_card ud_card_glType" ng-click="checkCreateType(item.id)" ng-class="{checked: sessionData.createTypeID == item.id }">
                        <span class="iconfont" >&#xe6be;</span>
                        <span >{{item.name}}</span>
                        <!-- <span class="icon"></span> -->
                    </a>
                </div>
            </div>
        </form>

    </div>
    
    <div class="rmn_content_footer">
        <div class="rm_buttoms">
            <a class="rm_nbtn rm_nbtn_primary"ng-click="close()">取消</a>
            <a class="rm_nbtn rm_nbtn_primary"ng-click="saveAndNext()">下一步</a>
            <span ng-class="{ud_text_error: tip_all.invalid, ud_text_correct: !(tip_all.invalid)}">{{tip_all.info}}</span>
        </div>
    </div>
</div>
