<right-slide-dialog ng-cloak dialog-name="edit_solution" back-router="ruleCenter">
	<div class="right_slide_width">
		<div class="rmn_content_header rmn_slide">
		    <h1 class="title">
		        {{title}}
		        <!-- &nbsp;&nbsp;<a class="operation fs14" ng-click="clickStrategyDelete()">删除此锦囊</a> -->
		        <!-- <a class="iconfont titleButtomOpen" ng-click="openFlag=!openFlag" ng-show="openFlag">&#xe71c;</a> 
		        <a class="iconfont titleButtomClose" ng-click="changeOpenFlag()" ng-show="!openFlag">&#xe71b;</a>-->
		    </h1>
		</div>
		<div class="rmn_content_normal rmn_footer rmn_slide">
			<form role="form" class="ud_form_lg">
				<div class="ud_form_group_lg">
	                <label class="t">所属场景</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select chosen data-placeholder-text-single="'选择所属场景'" disable-search="true" ng-model="dataTmp.scenarioEnt" ng-change="validate_scenario();validate_name()" ng-options="ent.name for ent in dataTmp.scenarioList">
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                    <span ng-class="{ud_text_error: tip_scenario.invalid, ud_text_correct: !(tip_scenario.invalid)}">{{tip_scenario.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">锦囊名称</label>
	                <div class="c">
	                    <input maxlength="20" type="text" placeholder="锦囊名称" data-no-results-text="'该场景下没有锦囊，请先添加锦囊'" class="ud_input_lg" ng-model="sessionData.name" ng-change="validate_name()" ng-blur="validate_name()"><span ng-class="{ud_text_error: tip_name.invalid, ud_text_correct: !(tip_name.invalid)}">{{tip_name.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">风险类型</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select chosen data-placeholder-text-single="'选择风险类型'" disable-search="true" ng-model="dataTmp.riskEnt" ng-change="validate_risk()" ng-options="ent.name for ent in dataTmp.riskList">
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                    <span ng-class="{ud_text_error: tip_risk.invalid, ud_text_correct: !(tip_risk.invalid)}">{{tip_risk.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">选择模板</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select ng-disabled="type=='edit'" chosen data-placeholder-text-single="'选择锦囊模板'" disable-search="true" ng-model="dataTmp.templateEnt" ng-change="validate_template()" ng-options="ent.id as ent.name for ent in dataTmp.templateList">
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                    <span ng-class="{ud_text_error: tip_template.invalid, ud_text_correct: !(tip_template.invalid)}">{{tip_template.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">评分方式</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select chosen disable-search="true" ng-model="sessionData.evaluation" ng-options="ent.id as ent.name for ent in evaluationList"	>
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                </div>
	            </div>
	
				<div class="ud_form_group_lg">
	                <label class="t">是否参与决策</label>
	                <div class="c">
	                    <a class="iconfont" ng-class="{cblue:sessionData.isPolicy=='0'}" ng-click="changeIsPolicy('0')">&#xe6be;</a><span class="radio_span">是</span>
	                    <a class="iconfont" ng-class="{cblue:sessionData.isPolicy=='1'}" ng-click="changeIsPolicy('1')">&#xe6be;</a><span class="radio_span">否</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg" ng-show="sessionData.isPolicy=='0'">
	                <label class="t">锦囊风险阈值设置<i  class="iconfont" uib-tooltip="分值区间左闭右开，如放行区间为[0,60)" tooltip-class="customClass">&#xe6e2;</i></label>
	                <div class="c">
	                	<a class="iconfont" ng-class="{cblue:needCheck}" ng-click="changeNeedCheck(true)">&#xe6be;</a><span class="radio_span">需人工审核</span>
	                    <a class="iconfont" ng-class="{cblue:!needCheck}" ng-click="changeNeedCheck(false)">&#xe6be;</a><span class="radio_span">不需人工审核</span>	                    
	                </div>
	                <div class="c" ng-show="needCheck">
		                <div class="threshold">
		                	<span class="t_green">&nbsp;0</span>
		                	<span class="t_green t_text">放行</span>
		                	<span class="t_green t_bold">&nbsp;————&nbsp;</span>		                	
		                    <input class="t_input" type="text" ng-model="sessionData.pointLeft" ng-change="validate_threshold()" ng-blur="validate_threshold()">
		                    <span class="t_orange t_text">人工审核</span>	                    
		                    <span class="t_orange t_bold">&nbsp;——————&nbsp;</span>
		                    
		                    <input class="t_input" type="text" ng-model="sessionData.pointRight" ng-change="validate_threshold()" ng-blur="validate_threshold()">
		                    <span class="t_red t_text">阻止</span>
		                    <span class="t_red t_bold">&nbsp;————&nbsp;∞</span>
		                </div>
	                </div>
	                <div class="c" ng-show="!needCheck">
		                <div class="threshold">
		                	<span class="t_green">&nbsp;0</span>
		                	<span class="t_green t_text">放行</span>
		                	<span class="t_green t_bold">&nbsp;————&nbsp;</span>		                	
		                    <input class="t_input" type="text" ng-model="sessionData.pointOnly" ng-change="validate_threshold()" ng-blur="validate_threshold()">
		                    <span class="t_red t_text">阻止</span>
		                    <span class="t_red t_bold">&nbsp;————&nbsp;∞</span>
		                </div>
	                </div>
	                <span ng-class="{ud_text_error: tip_threshold.invalid, ud_text_correct: !(tip_threshold.invalid)}">{{tip_threshold.info}}</span>
	            </div>
	        </form>
		</div>
		<div class="rmn_content_footer rmn_slide">
			<div class="rm_buttoms rm_right">
				<span ng-class="{ud_text_error: tip_all.invalid, ud_text_correct: !(tip_all.invalid)}">{{tip_all.info}}</span>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="close()">取消</a>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="save()">保存</a>
			</div>
		</div>
	</div>
</right-slide-dialog>