<div class="rm_content_header">
	<h1 class="title">
		已删除规则-{{strategyInstance.strategyInstanceName}}
		<a class="back" ui-sref="ruleCenter({strategyId:strategyInstanceId})">返回攻略</a>
	</h1>
</div>

<div class="ud_content_condition">
	<div class="conditions">
		<!--div class="condition">
			<div class="title">决策分值：</div>
			<div class="itemgroup">
				<a class="item" ng-repeat="item in sortTypes" ng-class="{active: sortType ==item.code}"
					ng-click="setSortType($index)">{{item.name}}</a>
			</div>
		</div>-->
        <div class="condition">
            <div class="title">删除时间：</div>
            <div class="itemgroup">
                        <span class="ud_datepicker">
                        <input type="text" class="item_ipt"
                               datepicker-popup="{{format}}"
                               ng-model="startDate"
                               is-open="startOpened"
                               min-date="minDate"
                               max-date="endDate"
                               datepicker-options="dateOptions"
                               show-button-bar="false"
                               ng-click="openStartDate($event)"
                               placeholder="请选择日期"
                               ng-change="getRuleInstanceListByTimeRange()"
                               readonly/>
                        <span class="item_hyphen">-</span>
                        <input type="text" class="item_ipt"
                               datepicker-popup="{{format}}"
                               ng-model="endDate"
                               is-open="endOpened"
                               datepicker-options="dateOptions"
                               min-date="startDate"
                               max-date="maxDate1"
                               show-button-bar="false"
                               ng-click="openEndDate($event)"
                               placeholder="请选择日期"
                               ng-change="getRuleInstanceListByTimeRange()"
                               readonly/>
                    <span ng-class="{rm_text_error: tip_name.invalid, rm_text_correct: !(tip_name.invalid)}"
                          class="item_hyphen">{{tip_name.info}}</span>
                    </span>
                <div class="second_area">
                    <a class="item" ng-repeat="item in dateRange" ng-class="{active:timeType == item.code}"
                       ng-click="setDateRange($index)">{{item.name}}</a>
                </div>

            </div>
        </div>

		<div class="condition">
			<div class="title">场景：</div>
			<div class="itemgroup">
				<a class="item" ng-class="{active: selectScenario.scenarioInstanceCode==''}"
				   ng-click="setScenario(-1)">全部</a>
				<a class="item" ng-repeat="item in scenarioInstanceList" ng-class="{active: selectScenario.scenarioInstanceCode==item.scenarioInstanceCode}"
				   ng-click="setScenario($index)">{{item.scenarioInstanceName}}</a>
			</div>
		</div>

		<div class="condition" ng-hide="selectScenario.scenarioInstanceCode == ''">
			<div class="title">锦囊：</div>
			<div class="itemgroup">
				<a class="item" ng-class="{active: selectSolution.solutionInstanceCode==''}"
				   ng-click="setSolution(-1)">全部</a>
				<a class="item" ng-repeat="item in solutionInstanceList" ng-class="{active: selectSolution.solutionInstanceCode == item.solutionInstanceCode}"
				   ng-click="setSolution($index)">{{item.solutionInstanceName}}</a>
			</div>
		</div>

        <div class="condition">
            <div class="title">规则搜索：</div>
            <div class="itemgroup" id="codeSearchLine">
                <input type="text" id="codeInput" class="item_ipt" name="RuleInstanceCode" ng-model="ruleCodeOrName"
                                          placeholder="输入规则ID或规则名称" ng-focus="showBtn()" />&nbsp;
                <!--input type="text" class="item_ipt" name="ruleInstanceCode" ng-model="ruleInstanceCode" placeholder="输入规则ID或规则名称" />&nbsp;
                <input type="button" class="rm_btn_sm rm_btn_primary item_ipt" ng-click="getRuleInstanceListByCode()" value="搜索"/-->
            </div>
        </div>
	</div>
</div>

<div class="rm_content_table">
	<table class="rm_table">
		<thead>
			<tr>
				<th>规则ID</th>
				<th>规则名称</th>
				<th>我的攻略</th>
				<th>场景</th>
				<th>锦囊</th>
				<th>应用平台</th>
				<th>实时性</th>
				<th>是否收费</th>
				<th>删除时间</th>
			</tr>
		</thead>
		<tbody infinite-scroll="loadPage(page+1)" infinite-scroll-container="'.rm_right_content'" infinite-scroll-disabled="links['last'] == page">
			<tr  ng-repeat="rule in ruleInstanceList" ui-sref="deleteRuleHistoryDetail({id: rule.id, strategyId:strategyInstanceId})">
				<td>{{rule.code}}</td>
				<td data-ng-bind="rule.name" data-ellipsis ></td>
				<td>{{rule.strategyInstanceName}}</td>
				<td>{{rule.scenarioInstanceName}}</td>
				<td>{{rule.solutionInstanceName}}</td>
				<td>{{rule.platform}}</td>
				<td>{{mySynchronization[rule.isSynchronization]}}</td>
				<td>{{myPay[rule.isPay]}}</td>
				<td>{{rule.lastModifiedDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
			</tr>
		</tbody>
	</table>
    <div ng-hide="load_list_flag" class="loading_group"><div  class="loading list_loading"></div></div>
</div>

<div id="loading_group" ng-hide="load_flag"><div  class="loading"></div><div class="loading_cover"></div></div>

<script type="text/ng-template" id="noRuleCode.html">
	<div ng-cloak class="rm_modal">
    <div class="rm_modal_header">
        <h3>搜索规则</h3>
        <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
    </div>
    <div class="rm_modal_content rm_modal_text_content">
        <div class="rm_modal_text_item">输入不能为空</div>
    </div>
	<div class="rm_modal_footer">
        <div class="rm_right">
            <button class="rm_btn rm_btn_primary" ng-click="cancel()">
             		确定
            </button>
        </div>
        <div class="clearfix"></div>
    	</div>
	</div>
</script>
