html {
    display: none;
    height: 100%;
    font-size: 12px;
}

html.pc {
    background: url('../images/phone.png');
    background-size: 100% 100%;
    height: 800px;
    width: 773px;
    margin-left: -41px;
    margin-top: -20px;
    background-repeat: no-repeat;

}

html.pc body {
    top: 80px;
    height: 600px;
    left: 160px;
    width: 350px;
}

html.pc .submit-div,
html.pc #quan,
html.pc .end-btn,
html.pc .agreement {
    /*position: absolute !important;*/
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    height: 100%;
    overflow: hidden;
}

/*info*/
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

a:link {
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}

.link {
    color: #12abbb;
    cursor: pointer;
}
.help-center{
    position: absolute;
    z-index: 100;
    right: 0.5rem;
    top: 0.8rem;
    font-size: 1.4rem;
    color: #fbfbfb;
}
.help-center.b{
    color: #666;
}
.step {
    display: none;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    height: 100%;
    position: relative;
    text-align: center;
}
.step-content{
    height: 85%;
    overflow-y: auto;
}
.step-bottom{
    height: 15%;
}

.agreement {
    margin: 1% 0 2% 6%;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
}

.agreement label {
    color: #000;
}

.agreement input {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: -2px 5px 0 0;
    padding: 0;
}

.submit-btn {
    position: absolute;
    bottom: 2.5%;
    border: transparent 1px solid;
    border-radius: 4px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
    width: 90%;
    left: 5%;
    height: 7%;
    background: #999;
}
.active{
    background: #343F52;
}
.img100 {
    width: 100%;
}
.imgdemo{
    width: 100%;
    display: block;
    margin: auto;
}
.imgdemo-disable{
    opacity: 0.5;
}
.upload-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}


/*step1*/
.demo1 {
    position: relative;
    margin: -5% 5% 5% 5%;
    background: #fbfbfb;
    padding: 4% 6% 0 6%;
    border-radius: 1%;
}

.demo2 {
    position: relative;
    margin: 5% 5% 2% 5%;
    padding: 0 6% 0 6%;
}

.show-info {
    font-size: 0.8rem!important;
    text-align: left;
    display: inline-block;
    color: #666;
}

.uploadpic-pan {
    box-shadow: 2px 6px 18px rgba(0, 0, 0, .15);
    border-radius: 8px;
    overflow: hidden;
}
.uploadok{
    display: none;
    position: absolute;
    top: 35%;
    width: 100%;
    left: 0;
}
.uploadok img{
    width: 20%;
}
.uploadok span{
    display: block;
    color: #fff;
    font-size: 1.4rem;
}


/*step3*/
.pan2 {
    position: relative;
    margin: -35% 5% 2% 5%;
}

.pan2-in {
    position: absolute;
    bottom: 10%;
    width: 100%;
}

#check_m,
#check_w {
    display: none;
    box-shadow: 2px 6px 18px rgba(0, 0, 0, .15);
    border-radius: 8px;
}

/*step4*/
.demo3 {
    position: relative;
    box-shadow: 2px 6px 18px rgba(0, 0, 0, .15);
    border-radius: 8px;
    overflow: hidden;
    max-height: 60%;
    margin: 5% 15%;
}



.lizi-img {
    width: 25%;
    margin: 10% 3% 0 3%;
}

.check-info {
    font-size: 1.2rem;
    background: #fff;
    padding: 1% 5%;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
    height: 2rem;
}

.check-info .title {
    display: inline-block;
    width: 5rem;
}
#cname {
    display: inline-block;
    border: 0;
    width: 8.5rem;
    color: #12addd;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.3rem;
}
#ccard{
    display: inline-block;
    border: 0;
    width: 12rem;
    font-size: 1.2rem;
    line-height: 24px;
}
.change-text {
    display: inline-block;
    border-radius: 4px;
    padding: 0.1rem 0.3rem;
    border: 1px solid #12addd;
    color: #12addd;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

/*step5*/
.suinfo {
    display: none;
    bottom: 10%;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 1.4rem;
    color: #2056A9;
    margin: 0 0 0 23%;
    padding: 2%;
    width: 50%;
    border-radius: 10rem;
    background: #fff;
}

#suinfo_F {
    color: #bc3721;
}

#quan {
    width: 50%;
    margin: 10% 0 0 25%;
    top: 0;
    position: absolute;
    left: 0;
}




/*弹出框*/
.error_tip_frame {
    position: absolute;
    z-index: 10001;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    background-color: #333;
}

.error_tip_frame .error_tip_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 25px 30px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.error_tip_frame .error_tip_inner a {
    color: #fff;
}