html{
    display: none;
    height: 100%;
}
html.pc{
    background: url('../images/phone.png');
    background-size: 100% 100%;
    height: 770px;
    width: 773px;
    margin-left: -41px;
    margin-top: -20px;
    background-repeat: no-repeat;

}
html.pc body{
    top: 80px;
    height: 550px;
    left: 160px;
    width: 350px;
}
html.pc .submit-div,
html.pc .take-picinfo,
html.pc #step5,
html.pc #quan,
html.pc .end-btn,
html.pc .agreement
{
    position: absolute!important;
}
body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0;
    padding: 0;
    background: #F0F0F0;
    height: 100%;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.top-1{
    display: none;
    padding: 4% 8% 0 8%;
    height: 4%;
    text-align: center;
}
.top-1 .top-yuan{
    border-radius: 50%;
    width: 4%;
    height: 0;
    padding-top: 4%;
    display: inline-block;
    border: 2px #ccc solid;
}
.top-1 .top-yuan.active{
    background: #12addd;
    border-color: #12addd;
}
.top-1 .top-xian{
    display: inline-block;
    width: 31%;
    border-top: 2px #ccc solid;
    vertical-align: top;
    margin: 2.5% 2% 0 2%;
}
.top-1 .top-xian.active{
    border-color: #12addd;
}
.top-2{
    display: none;
    padding: 0 6% 0 6%;
    height: 4%;
    text-align: center;
    margin-top: -1%;
}
.top-2 div+div {
    margin-left:26%;
}
.top-2 .top-text{
    display: inline-block;
    color: #ccc;
    width: 14%;
    font-size:14px;
}
.top-2 .top-text.active{
    display: inline-block;
    color: #12addd;
}
.step{
    display: none;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    max-height: 74%;
    height: 74%;
    overflow: auto;
    position: static;
    text-align: center;
}
#step4,#step6{
    max-height: 84%;
    height: 84%;
}
#step5{
    overflow: hidden;
    max-height: 100%;
    height: 100%;
    position: fixed;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
   -moz-background-size:100% 100%;
}
#step11{
    height: 100%;
    max-height: 100%;
    background: #000;
}
#uploaddemo1{
    background: url('../images/sfz_zmd.png');
    background-size: 100% 100%;
}
#uploaddemo2{
    background: url('../images/sfz_fmd.png');
    background-size: 100% 100%;
}
.upload1demo-info{
    position: absolute;
    bottom: 40px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.uploaddemo{
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
   -moz-background-size:100% 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    display: none;
    padding: 35px 20px;
    text-align: center;
    color: #12abbb;
    font-size: 18px;
    line-height: 35px;
    font-weight: bold;
}
#upload2demo1{
    background: url('../images/sfz_zmh.png');
    background-size: 100% 100%;
}
#upload2demo2{
    background: url('../images/sfz_fmh.png');
    background-size: 100% 100%;
}
.upload2demo{
    padding: 35px 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.upload2demo-info{
    position: absolute;
    top: -10px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #666;
}
.front{
    position: relative;
    margin: 10px 20px 0 20px;
}
.front-first{
    height: 200px;
    background: #fff;
    border-radius: 8px;
    border: 1px #ccc solid;
}
.submit-div{
    position: fixed;
    margin: 0 5%;
    bottom: 0px;
    height: 9%;
    width: 90%;
}
.upload-img{
    width: 100%;
}
.upload-input {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}
.big-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    letter-spacing: 2px;
    height: 40px;
    line-height: 40px;
}
.small-title{
    font-size: 14px;
    color: #aaa;
    height: 20px;
    line-height: 20px;
    margin: 10px 20px;
}
.agreement{
    margin: 0 0 0 20px;
    position: fixed;
    bottom: 11%;
    font-size: 14px;
}
.agreement input{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: -2px 5px 0 0;
    padding: 0;
}
.agreement label{
    color: #000;
}
#agreement2{
    position: fixed;
    bottom: 10%;
}
.submit-btn {
    border:  transparent 1px solid;
    border-radius: 4px;
    width: 100%;
    height: 80%;
    line-height: 80%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: block;
    cursor: pointer;
}
.end-btn{
    position: fixed;
    bottom: 50px;
    border:  transparent 1px solid;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background: #fff;
    display: block;
    cursor: pointer;
    margin-left: 15%;
    width: 70%;
    height: 50px;
    line-height: 50px;
    background:rgba(255, 255, 255, 0.2)!important;
    filter:Alpha(opacity=60); background:#fff;
}
.end-btn p{
    position:relative;
    line-height: 10px;
}
.suinfo-pan{
    display: none;
    width: 30px;
    margin-bottom: -5px;
}
#suinfo_T{
    margin-bottom: -2px;
}
.check-info{
    font-size: 16px;
    background: #fff;
    padding: 15px 20px;
    margin-bottom: 1px;
    color: #555;
    text-align: left;
    padding-left: 40px;
}
.check-info .title{
    display: inline-block;
    width: 80px;
}
#cname{
    border: 0;
    width: 150px;
    color: #12addd;
    font-size: 18px;
    line-height: 24px;
}
.take-info{
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}
.take-index{
    font-weight: bold;
    margin-right: 4px;
    font-size: 18px;
}
.take-picinfo{
    position: fixed;
    top: 50px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #FAA056;
}
.take-num{
    margin-top: 10px;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    color:#FAA056;
}
.take-numinfo{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    color: #12addd;
}
.submit-hidebtn {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}
#like-num{
    margin-top: 40%;
    text-align: center;
    font-size: 64px;
    color: #fff;
}
.xsd{
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.suinfo{
    text-align: center;
    font-size: 25px;
    color: #fff;
    border: #fff 1px solid;
    display: inline-block;
    margin: 70px 19% 0 19%;
    padding: 3% 1%;
    width: 60%;
    border-radius: 4px;
}
#quan{
    width: 60%;
    margin: 20% 20% 0 20%;
    top:0;
    position: fixed;
    left:0;
}
#video_pan{
    margin: 0;
    /*border: 1px solid #000000;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#video_show{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    top: -100%;
}
#canvas_show{
    /*display: none;*/
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 85%;
    z-index: 1;
}
#kuang1{
    position: fixed;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 1001;
    top: 5%;
    left: 10%;
    border-top: 2px #fff solid;
    border-left: 2px #fff solid;
}
#kuang2{
    position: fixed;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 1001;
    top: 5%;
    right: 10%;
    border-top: 2px #fff solid;
    border-right: 2px #fff solid;
}
#kuang3{
    position: fixed;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 1001;
    bottom: 20%;
    left: 10%;
    border-bottom: 2px #fff solid;
    border-left: 2px #fff solid;
}
#kuang4{
    position: fixed;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 1001;
    bottom: 20%;
    right: 10%;
    border-bottom: 2px #fff solid;
    border-right: 2px #fff solid;
}
#snap{
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #fff;
    border: none;
    z-index: 1001;
}
#snap_in{
    position: fixed;
    bottom: 25px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #000;
    z-index: 1002;
}

.wrong-img{
    width: 20%;
    margin-left: 10%;
}
/*弹出框*/
.error_tip_frame {
    position: absolute;
    z-index: 10001;
    top:0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    background-color: #333;
}
.error_tip_frame .error_tip_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width: 50%;
    padding: 30px 50px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.error_tip_frame .error_tip_inner a{
    color: #fff;
}
/*公共*/
a:link {
    text-decoration:none;
}
.link {
    color: #12abbb;
    cursor: pointer;
}
.line10{
    height: 10px;
    line-height: 10px;
}
.line20{
    height: 20px;
    line-height: 20px;
}
.line30{
    height: 30px;
    line-height: 30px;
}
.line40{
    height: 40px;
    line-height: 40px;
}
.line50{
    height: 50px;
    line-height: 50px;
}
.f-bold{
    font-weight: bold;
}
.c-orange{
    color: #ff7800;
}
.fs10{
    -webkit-text-size-adjust:none;
    font-size: 10px;
}
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
