<div class="rm_content_header">
    <h1 class="title">
        用户中心
    </h1>

    <div class="subtitle rm_conditionlist">
        <div class="rm_conditionlist_item">
            <!--<a class="rm_condition">商户信息</a>-->
            <a ui-sref="password" class="rm_condition active">修改密码</a>
        </div>
    </div>
</div>


<form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

    <div class="ud_content_condition">
        <div class="conditions">
            <div class="condition single">
            <div class="ud_row">
                    <label class="title">原密码：</label>

                    <div class="itemgroup">
                        <input type="password" name="oldPassword" placeholder="请输入您的密码"
                               class="item_ipt"
                               ng-model="oldPassword" ng-minlength=5 ng-maxlength=50 required
                               ng-change="init()"/>&nbsp;
                        <span ng-class="{ud_text_error: tip.invalid, ud_text_correct: !(tip.invalid)}" class="item_hyphen">{{tip.info}}</span>
                    </div>
                </div>
                <div class="ud_row">
                    <label class="title">新密码：</label>

                    <div class="itemgroup">
                        <input type="password" name="password"
                               placeholder="您的新密码"
                               ng-model="password" ng-minlength=5 ng-maxlength=50 required class="item_ipt" ng-change="init()">
                        <password-strength-bar password-to-check="password" class="item"></password-strength-bar>
                        <div ng-show="form.password.$dirty && form.password.$invalid" class="item">
                        <span class="rm_text_error"
                              ng-show="form.password.$error.required">
                            您的密码是必填项。
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.password.$error.minlength">
                            您的密码长度至少要有5个字符。
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.password.$error.maxlength">
                            您的确认密码长度不能超过50个字符。
                        </span>
                        </div>
                    </div>
                </div>

                <div class="ud_row">
                    <label class="title">新密码确认：</label>

                    <div class="itemgroup">
                        <input type="password" name="confirmPassword"
                               placeholder="确认您的新密码"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required class="item_ipt" ng-change="init()">

                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid" class="item">
                        <span class="rm_text_error"
                              ng-show="form.confirmPassword.$error.required">
                            您的确认密码是必填项。
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.confirmPassword.$error.minlength">
                            您的密码长度至少要有5个字符。
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.confirmPassword.$error.maxlength">
                            您的确认密码长度不能超过50个字符。
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ud_content_result simple">
        <button type="submit" ng-disabled="form.$invalid"
                class="rm_btn rm_btn_primary item_ipt" id="savePwdBtn">确认
        </button>
        <p class="rm_text_error" ng-show="success">
            <strong>密码修改成功,即将返回登录页!</strong>
        </p>
        <p class="rm_text_error" ng-show="error">
            <strong>发生错误!</strong> 密码无法被修改。
        </p>
        <p class="rm_text_error" ng-show="doNotMatch">
            您输入的密码和确认密码不匹配！
        </p>
    </div>
</form>