<div class="rm_content_header">
    <h1 class="title">
        用户中心
    </h1>

    <div class="subtitle rm_conditionlist">
        <div class="rm_conditionlist_item">
            <!--<a class="rm_condition">商户信息</a>-->
            <a ui-sref="password" class="rm_condition active">修改密码</a>
        </div>
    </div>
</div>


<form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

    <div class="ud_content_condition">
        <div class="conditions">
            <div class="condition single">
                <div class="ud_row">
                    <label class="title">新密码：</label>

                    <div class="itemgroup">
                        <input type="password" name="password"
                               placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="password" ng-minlength=5 ng-maxlength=50 required class="item_ipt" ng-change="init()">
                        <password-strength-bar password-to-check="password" class="item"></password-strength-bar>
                        <div ng-show="form.password.$dirty && form.password.$invalid" class="item">
                        <span class="rm_text_error"
                              ng-show="form.password.$error.required"
                              translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.password.$error.minlength"
                              translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 5 characters.
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.password.$error.maxlength"
                              translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </span>
                        </div>
                    </div>
                </div>

                <div class="ud_row">
                    <label class="title">新密码确认：</label>

                    <div class="itemgroup">
                        <input type="password" name="confirmPassword"
                               placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required class="item_ipt" ng-change="init()">

                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid" class="item">
                        <span class="rm_text_error"
                              ng-show="form.confirmPassword.$error.required"
                              translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.confirmPassword.$error.minlength"
                              translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 5 characters.
                        </span>

                        <span class="rm_text_error"
                              ng-show="form.confirmPassword.$error.maxlength"
                              translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ud_content_result simple">
        <button type="submit" ng-disabled="form.$invalid"
                class="rm_btn rm_btn_primary item_ipt" id="savePwdBtn"
                translate="password.form.button">Save
        </button>
        <p class="rm_text_error" ng-show="success" translate="password.messages.success">
            <strong>Password changed!</strong>
        </p>
        <p class="rm_text_error" ng-show="error" translate="password.messages.error">
            <strong>An error has occurred!</strong> The password could not be changed.
        </p>
        <p class="rm_text_error" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
        </p>
    </div>
</form>