<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand wb-navbar-title wb-span-spacing" href="#/" ng-click="vm.collapseNavbar()">
                <!-- <img class="logo-img" src="content/images/logo-jhipster.png"/> -->
                <i class="iconfont">&#xe600;</i>
                <span class="">微步</span>
                <span style="display: none" class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">主页</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-wrench"></span>
                            <span class="hidden-sm">
                                小工具
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="baiduyun" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span>百度云</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="weather" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;
                                <span>天气</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="showDemo" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-gbp"></span>&nbsp;
                                <span>粒子</span>
                            </a>
                        </li>
                    </ul>
                </li>            
                <li ng-class="{active: vm.$state.includes('entity')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-flash"></span>
                            <span class="hidden-sm">
                                前端速报
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->                        
                        <li ui-sref-active="active" >
                            <a href="http://old.75team.com/weekly/issue1.html" target="_blank" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;
                                <span>周报</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a href="http://www.kancloud.cn/jsfront/month/82796" target="_blank" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;
                                <span>月报</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
