<div ng-cloak class="rm_modal" id="createStrategy_step3">
    <div class="rm_modal_header">
        <h3>攻略配置</h3>
        <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
    </div>
    <div class="rm_modal_content">
        <form role="form">
            <div class="ud_form_group">
                <label class="t">攻略命名：</label>
                <div class="c">
                    <input type="text" class="ud_input_lg ud_input_long" ng-model="strategyConfiguration.name" ng-change="validate_name()">
                    <span ng-class="{rm_error_info: tip_name.invalid, rm_text_correct: !(tip_name.invalid)}">{{tip_name.info}}</span>
                </div>
            </div>
            <div class="ud_form_group">
                <label class="t">攻略ID：</label>
                <div class="c">
                    <input type="text" class="ud_input_lg" ng-model="strategyConfiguration.strategyInstanceCode" disabled>
                </div>

            </div>
            <div class="ud_form_group">
                <label class="t">攻略决策方式：</label>
                <div class="c">
                    <select class="ud_input_lg">
                        <!--<option selected>最坏匹配</option>-->
                        <option>{{strategyConfiguration.decisionPolicy}}</option>
                    </select>
                </div>
            </div>
            <div class="ud_form_group">
                <label class="t">风险处理策略：</label>
                <div class="c">
                    <p class="c_desc">设置0-100区间内的分值，当某一事件的决策分值高于该分值时拒绝该事件，低于该分值时放行该事件。</p>
                    <p>
                        <span>放行&nbsp;&lt;&nbsp;&nbsp;</span>
                        <input type="text" class="ud_input_lg rds" placeholder="请输入数值"
                               ng-model="strategyConfiguration.blockScore"
                               ng-change="dealStrategyValidate()">
                        <span>&nbsp;&nbsp;&lt;&nbsp;阻止</span>
                    </p>
                    <span class="rm_text_error">{{dealStrategyMsg}}</span>
                </div>
            </div>
            <div class="ud_form_group">
                <label class="t">风险等级定义：</label>
                <div class="c">
                    <div ng-repeat="risklevel in strategyConfiguration.riskLevelDefinitions" class="ud_form_group_s">
                        <label class="s_t">{{riskLevelMap[risklevel.name]}}</label>

                        <div class="s_c">
                            <input type="text" class="num" value="{{risklevel.min}}" ng-disabled="$index==0"
                                   ng-model="strategyConfiguration.riskLevelDefinitions[$index].min"
                                   ng-change="updateMax($index, strategyConfiguration.riskLevelDefinitions[$index].min)">
                            -
                            <input type="text" class="num" value="{{risklevel.max}}" ng-disabled="$index==4"
                                   ng-model="strategyConfiguration.riskLevelDefinitions[$index].max"
                                   ng-change="updateMin($index, strategyConfiguration.riskLevelDefinitions[$index].max)">
                            <span class="rm_text_error">{{riskMsg[$index]}}</span>
                        </div>

                        <!--
                        <div class="s_c">
                            <input type="text" class="num" value="{{risklevel.min}}"/> -
                            <input type="text" class="num" value="{{risklevel.max}}" ng-model="strategyConfiguration.riskLevelDefinitions[$index].max"/>
                        </div>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="rm_modal_footer">
        <div class="pull-right">
            <button class="rm_btn rm_btn_primary" ng-click="update()">
                保存
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
