<div class="ud_content_withlist">

    <div class="ud_content_header sv_header">

        <div class="ud_right sv_nav_links">
            <a class="sv_link_item" ui-sref="ruleCenter({strategyId: strategyInstanceId})"><span class="glyphicon glyphicon-menu-hamburger"></span> 规则列表</a>
            <a class="sv_link_item active" ui-sref="strategyView({id: strategyInstanceId})"><span class="glyphicon glyphicon-picture"></span> 攻略可视化</a>
        </div>

        <h1 class="title">{{strategyInstance.name}}<span>{{strategyInstance.code}}</span></h1>
    </div>

    <div class="sv_panel">
        <div class="sv_panel_header">
            <h5 class="title">攻略参数 <a class="back" ng-click="strategyConfiguration()">修改攻略参数</a><span class="back">|</span><a class="back" ui-sref="interfaceField({id: strategyInstanceId})">点击查看该攻略对应的字段列表</a></h5>
        </div>

        <div class="sv_panel_content">
            <div class="strategyPropertyList">
                <div class="sv_row">
                    <div class="spl_item rm_col3">
                        <div class="t">所属业务：</div>
                        <div class="c">{{strategyInstance.merchantName}}</div>
                    </div>
                    <div class="spl_item rm_col3">
                        <div class="t">应用平台：</div>
                        <div class="c">
                            <span ng-repeat="platform in strategyInstance.platforms">{{platform.name}}</span>
                        </div>
                    </div>
                    <div class="spl_item rm_col3">
                        <div class="t">攻略决策方式：</div>
                        <div class="c">{{decisionPolicy[strategyInstance.decisionPolicy]}}</div>
                    </div>
                </div>
                <div class="sv_row">
                    <div class="spl_item rm_col9">
                        <div class="t">风险处理策略：</div>
                        <div class="c">
                            决策分值在0-{{strategyInstance.blockScore}}分放行，在{{(strategyInstance.blockScore-0)+1|number}}-100分阻止。
                        </div>
                    </div>
                </div>
                <div class="sv_row">
                    <div class="spl_item rm_col9">
                        <div class="t">自定义风险等级：</div>
                        <div class="c">
                            <span ng-repeat="level in strategyInstance.riskLevelVisualizationDefinitions">{{riskLevelMap[level.name]}}：{{level.min}}-{{level.max}}；</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sv_panel">
        <div class="sv_panel_header">
            <h5 class="title">
                <span class="panel_th">场景</span>
                <span class="panel_th">锦囊</span>
            </h5>
        </div>
        <div class="sv_panel_content">
            <table class="table_solutionList">
                <!--<thead>
                <tr>
                    <th>场景</th>
                    <th>锦囊</th>
                </tr>
                </thead>-->
                <tbody>
                <tr ng-repeat="(index, scenario) in strategyInstance.scenarioVisualizationInstanceDTOs"ng-show="scenario.status=='0'">
                    <td>
                        <div class="scenario" ng-class="{active: scenario.status=='0'}">{{scenario.name}}</div>
                    </td>
                    <td>
                        <!-- ng-click="showDataService(solution)"  -->
                        <a  class="solution" ng-repeat="solution in scenario.solutionVisualizationInstanceDTOs" ng-class="{active: solution.status=='0'}"
                            ng-show="solution.status=='0'"
                            popover-template-arrow="dynamicPopover.templateUrl"
                           popover-trigger="mouseenter"
                           popover-placement="bottom"
                            ng-mouseenter="showDataService(index, $index)">{{solution.name}}</a>
                        <a  class="solution" ng-repeat="solution in scenario.solutionVisualizationInstanceDTOs"
                            ng-class="{active: solution.status=='0', disabled:solution.status!='0'}" ng-hide="solution.status=='0'">{{solution.name}}</a>
                    </td>
                </tr>
                <tr ng-repeat="(index, scenario) in strategyInstance.scenarioVisualizationInstanceDTOs"ng-hide="scenario.status=='0'">
                    <td>
                        <div class="scenario" ng-class="{active: scenario.status=='0'}">{{scenario.name}}</div>
                    </td>
                    <td>
                        <!-- ng-click="showDataService(solution)"  -->
                        <a  class="solution" ng-repeat="solution in scenario.solutionVisualizationInstanceDTOs" ng-class="{active: solution.status=='0', disabled:solution.status!='0'}">{{solution.name}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="sv_panel">
        <div class="sv_panel_header">
            <h5 class="title">数据服务</h5>
        </div>
    </div>
    <div class="rm_content_table">
        <table class="rm_table">
            <thead>
            <tr>
                <th>数据服务</th>
                <th>实时性</th>
                <th>收费情况</th>
                <th>开通情况</th>
                <th>使用情况</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="service in strategyInstance.dataServiceVisualizationDTOs">
                <td>{{service.name}}</td>
                <td>{{isSynchronization[service.isSynchronization]}}</td>
                <td>{{isPay[service.isPay]}}</td>
                <td>{{authorization[service.authorization]}}</td>
                <td>
                    <span ng-show="service.useStatus == 0">未使用</span>
                    <span ng-hide="service.useStatus == 0">使用中</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="dataServiceList.html">
    <div ng-cloak>
        <div class="rm_modal_content rm_modal_text_content">
            <table>
                <thead>
                <tr>
                    <th>数据服务</th>
                    <th>实时性</th>
                    <th>收费情况</th>
                    <th>开通情况</th>
                    <th>使用情况</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dataService">
                    <td>{{item.name}}</td>
                    <td>{{isSynchronization[item.isSynchronization]}}</td>
                    <td>{{isPay[item.isPay]}}</td>
                    <td>{{authorization[item.authorization]}}</td>
                    <td>
                        <span ng-show="item.useStatus == 0">未使用</span>
                        <span ng-hide="item.useStatus == 0">已使用</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="wordList.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>{{solutionName}}</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content table_solution_modal">
            <table>
                <thead>
                <tr>
                    <th>字段名</th>
                    <th>字段中文名</th>
                    <th>字段类型</th>
                    <th>字段长度</th>
                    <th>字段说明</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in wordList">
                    <th>{{item.name}}</th>
                    <th>{{item.chinesename}}</th>
                    <th>{{item.fieldtype}}</th>
                    <th>{{item.maxlength}}</th>
                    <th>{{item.description}}</th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="rm_modal_footer">
            <div class="clearfix" ></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myPopoverTemplate1.html">
    <div class="popover-menu">
        <table>
            <tr>
                <th>商 户 名:</th>
                <td>杭州有盾科技网络有限公司</td>
            </tr>
            <tr>
                <th>商 户 号:</th>
                <td>1111000009</td>
            </tr>
            <tr>
                <th>账户余额:</th>
                <td class="important">98880.5元<a>刷新余额</a></td>
            </tr>
            <tr>
                <th>上次登录:</th>
                <td>有盾科技有盾科技有盾科技有盾科技有盾科技有盾科技有盾科技有盾科技</td>
            </tr>
            <tr>
                <th><a>修改密码</a></th>
            </tr>
        </table>
    </div>
</script>
