
.ud_content_condition_B {
    padding-bottom: 40px;
    background: #fff;

    .conditions-wrapper {
        border-bottom: 1px solid $bg_grey;
        margin: 0;

        .conditions {
            margin: 0 50px;

            &:after,
            &:before {
                content: "";
                display: table;
            }

            &:after {
                clear: both;
            }
        }

        .condition,
        .condition-hover {
            position: relative;
            float: left;
            height: 45px;
            .condition-hd {
                display: block;
                min-width: 100px;
                height: 32px;
                border: 1px solid $border-color-grey;
                margin: 16px 10px 16px 0;
                padding: 0 10px;
                line-height: 28px;
                vertical-align: middle;
                cursor: default;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                .text {
                    max-width: 65px;
                    display: inline-block;
                    -ms-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                a {
                    max-width: 115px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                }

                span.glyphicon {
                    float: right;
                    top: 8px;
                }

                span.arrow-down {
                    display: block;
                    position: absolute;
                    left: 82px;
                    top: 28px;
                    height: 0;
                    width: 0;
                    border-top: 7px solid $font_grey_dark;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                }
            }
        }

        .search-group {
            float: right;

            .search-item {
                border: 1px solid $border_color_grey;
                border-left: 0;
                display: block;
                float: left;
                height: 32px;
                margin: 16px 0;
                padding: 0 10px;
                line-height: 30px;
                vertical-align: middle;

                &:first-child {
                    border-left: 1px solid $border_color_grey;
                }
            }

            .keyword-dimension {
                width: 100px;

                .condition-hd {
                    margin: 16px 0 16px 0;
                }
            }

            .search-text {
                width: 200px;
            }

            .search-btn {
                background: $bg_grey_light;
                color: $blue;
                width: 70px;
                text-align: center;
            }
        }
    }

    .condition .condition-bd {
        display: none;
    }

    //.condition .condition-bd,
    .condition-hover .condition-bd {
        min-width: 100px;
        width: auto;
        padding: 0;
        border: 1px solid $border-color-grey;
        position: absolute;
        top: 52px;
        background: #fff;
        z-index: 999;
        display: block;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: nowrap;

        .title {
            cursor: not-allowed;
            color: $font_grey_light;
            padding: 0 10px;
            line-height: 30px;
            vertical-align: middle;
        }

        a {
            display: block;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            vertical-align: middle;

            &.active {
                //color: $font_color_link_active;
                font-weight: bold;
            }

            &:hover {
                //color: $blue;
                background-color: $grey_light;
            }
        }
    }
}

.condition-row {
    // border-bottom: 1px solid $bg_grey;
    
    &:last-child {
        border-bottom: 0;
    }

    .ud_datepicker {
        margin-top: 16px;
        margin-right: 12px !important;
    }

    .item_ipt {
        height: 32px;
    }

    .item_tip {
        position: relative;
        top: 22px;
    }

    .condition_tip {
        display: inline-block;
        position: relative;
        top: 22px;
    }

    .keyword_tip {
        display: block;
        position: relative;
        top: 22px;
        float: left;
        right: 16px;
    }
}




.condition-solo,
.condition-solo-hover {
    position: relative;
    float: left;

    .condition-solo-hd {
        display: block;
        min-width: 300px;
        height: 36px;
        border: 1px solid $nbuttom_white1;
        padding: 0 10px;
        line-height: 36px;
        vertical-align: middle;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .text {
            max-width: 265px;
            display: inline-block;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        a {
            max-width: 315px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }

        div.arrow-panel{
            position: absolute;
            top: 1px;
            right: 1px;
            width: 34px;
            height: 34px;
            background: $ncolor_table_bg;
            padding: 10px;
            span.arrow-down {
                display: block;
                height: 14px;
                width: 14px;
                background: url("../images/icons.png") no-repeat;
                background-position: 0px -16px
            }
        }
    }
}

.condition-solo .condition-solo-bd {
    display: none;
}

.condition-solo-hover .condition-solo-bd {
    min-width: 300px;
    width: auto;
    padding: 0;
    border: 1px solid $border-color-grey;
    position: absolute;
    top: 32px;
    background: #fff;
    z-index: 999;
    display: block;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    color: #000;
    .title {
        cursor: not-allowed;
        color: $font_grey_light;
        padding: 0 10px;
        line-height: 30px;
        vertical-align: middle;
    }

    a {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        vertical-align: middle;

        &:hover {
            color: #000;
            background: $ncolor_table_bg;
        }

        &.active {
            color: #fff;
            background: $nbuttom_blue1;
        }

        
    }
}

.nsearch {
    text-align: left;
    float: left;
    position:relative;
    margin-right:5px;
    margin-left:-1px;
    .nsearch-item {
        border: 1px solid $border_color_grey;
        display: block;
        height: 32px;
        margin: 0;
        padding: 0 10px;
        line-height: 32px;
        vertical-align: middle;
        width: 200px;
    }
    .nsearch-fdj {
        position: absolute;
        top: 3px;
        right: 10px;
        font-size:18px
    }
}