
.switch {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;

    .on,
    .off {
        position: relative;
        display: block;
        box-sizing: content-box;
        overflow: visible;
        width: 48px;
        height: 20px;
        color: #fff;
        padding: 0;
        margin: 0;
        border-radius: 9px;
        cursor: pointer;
        transition: 0.3s ease-out all;
        -webkit-transition: 0.3s ease-out all;

        .text {
            display: inline-block;
            position: absolute;
            left: 5px;
            right: 5px;
            vertical-align: middle;
            line-height: 20px;
            font-size: 10px;
        }
    }

    .xs {
        background: #fff;
        border-radius: 9px;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: 0.3s ease-out all;
        -webkit-transition: 0.3s ease-out all;
        text-align: center;
        color: #fff;
    }

    .off {
        display: inline-block;
        background: #c1c3c8;
        text-align: right;
    }

    .on {
        display: none;
        background: #99db3c;
        text-align: left;
    }

    &.checked {

        .xs {
            left: 30px;
        }

        .off {
             display: none;
         }

        .on {
            display: inline-block;
        }
    }
}
