/* --------------- BEGIN table of right content --------------- */

table {
    width: 100%;
}

th {
    font-weight: normal;
    color: $font_color;
}

td {
    color: $font_grey_table;
}

.rm_content_table {
    background: $bg_grey;
}

.rm_table {
    background: $bg_grey;

    thead {
        background: $bg_grey_light;
    }

    tbody {
        tr:hover {
            background: $bg_grey_light;
        }
    }

    th, td {
        padding: 14px 10px 12px 10px;
        font-weight: normal;
    }

    th {
        border-bottom: 0;
        white-space: nowrap;
    }

    td {
        border-bottom: 1px solid #dee0e2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 210px;
    }

    tr td:first-child, tr th:first-child {
        padding-left: 45px;
    }

    tr td:last-child, tr th:last-child {
        padding-right: 45px;
    }

    td.isPay {
        color: #faad18;
    }
}

//data service
.ud_table_data_service {
    background: #fff;
    margin-bottom: 50px;

    thead {
        background: $bg_grey_light;
    }

    th, td {
        padding: 14px 10px 12px 10px;
        font-weight: normal;
    }

    th {
        border-bottom: 0;
        white-space: nowrap;
   		background: #f5f8f8;

    }

    td {
        border-bottom: 1px solid #dee0e2;
    	background: #fff;

        &.ispay {
            color: #faad18;
        }

        .new {
            display: inline-block;
            background: $green;
            color: #fff;
            font-style: oblique;
            font-size: 10px;
            height: 16px;
            width: 40px;
            line-height: 16px;
            text-align: center;
            vertical-align: middle;
            position: relative;
            top: -2px;
            margin-left: 5px;
        }
    }

    tr td:first-child,
    tr th:first-child {
        padding-left: 45px;
    }

    tr td:last-child,
    tr th:last-child {
        padding-right: 45px;
    }

    tr td:first-child {
        padding-left: 12px;
    }

    tr td.first {
        padding-left: 45px;
        font-weight: bold;
    }
}

/* --------------- END table of right content --------------- */

.rm_table_bordered,
.rm_table_bordered > thead > tr > th,
.rm_table_bordered > tbody > tr > th,
.rm_table_bordered > tfoot > tr > th,
.rm_table_bordered > thead > tr > td,
.rm_table_bordered > tbody > tr > td,
.rm_table_bordered > tfoot > tr > td {
    border: 1px solid $grey_light;
}

.rm_table_bordered > thead > tr > td,
.rm_table_bordered > tbody > tr > td,
.rm_table_bordered > tfoot > tr > td {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.rm_table_horizontal > thead > tr > th,
.rm_table_horizontal > tbody > tr > th,
.rm_table_horizontal > tfoot > tr > th {
    width: 140px;
    border-right: 0;
    padding-right: 15px;
}

.rm_table_horizontal > thead > tr > td,
.rm_table_horizontal > tbody > tr > td,
.rm_table_horizontal > tfoot > tr > td {
    border-left: 0;
    padding-left: 15px;
}

.rm_table_horizontal {
}

.rm_table_vertical {
}

.rm_table_vertical > thead > tr > th,
.rm_table_vertical > tbody > tr > th,
.rm_table_vertical > tfoot > tr > th,
.rm_table_vertical > thead > tr > td,
.rm_table_vertical > tbody > tr > td,
.rm_table_vertical > tfoot > tr > td {
    text-align: center;
}

//rulelist-detail
.ud_table_B {
    border: 1px solid $grey_light;

    thead th.bold {
        font-weight: bold;
        color:black;
    }


    th, td {
        padding: 16px 30px;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid $grey_light;
    }

    th {
        width: 140px;

        &.date {
            width: 210px;
        }
    }

    td.op {
        width: 140px;
        text-align: right;
    }

    input.description {
        width: 100%;
    }

    tbody {
        color: $font_grey_table;



        td.tdis.active{
            border-top: 1px solid #22b0db;
            border-bottom: 1px solid #22b0db;
            border-right: 1px solid #22b0db;
            color: #333333;
        }

        th.date.active {

            border-top: 1px solid #22b0db;
            border-bottom: 1px solid #22b0db;
            border-left: 1px solid #22b0db;
            color: #333333;
        }

        td.tdis.nextactive{
            border-bottom: 1px solid #22b0db;;
        }

        th.date.nextactive{
            border-bottom: 1px solid #22b0db;;
        }

        td {
            &.tdis {
                padding: 0 0 0 0;

                .tdi:first-child{
                    border-top:0px;
                }

                .tdi {
                    padding: 16px 30px;
                    border-top: 1px solid $bg_grey;
                    min-height: 50px;

                    .glyphicon {
                        padding: 0px 30px;
                    }

                    .tdii:first-child{
                        border-top:0px;
                    }

                    .tdii {
                        border-top: 1px solid $bg_grey;

                        .tdii{
                            padding:16px 0px;
                        }

                        .title {
                            font-weight: bold;
                        }
                    }

                    .toggle-history {
                        padding-left: 0px;
                    }

                    &.coll {
                        border-top: 0;
                        cursor: pointer;
                    }

                    &.cols {
                        padding-right: 0px;

                        div {

                            .width-limited {

                                text-overflow: ellipsis;
                                width: 700px;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                    }

                    .tit {
                        color: $font_color;
                    }

                    .des {
                        color: $font_grey_table;
                    }

                    .compare-item {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .condition-group{
                        padding-top: 10px;
                        padding-right: 10px;

                        div {
                            padding:7px 0px;
                        }
                    }

                    .before {
                        color: $font_color;
                    }
                }
            }



            &.hitcount {
                text-align: center;
                color: $orange;
                font-size: 14px;
                font-weight: bold;
                padding: 15px 30px;

                &.tdis {
                    padding: 0 0 0 0;

                    .tdi {
                        padding: 15px 30px;
                    }
                }
            }
        }
    }
}

// risk result
.ud_table_C {

    thead {
        background: $bg_grey_light;
        color: $font_color;

        th {
            padding: 10px 30px;
            text-align: center;

            &:first-child,
            &:last-child {
                width: 220px;
            }

            /*&:first-child {
                width: 180px;
            }*/
        }
    }

    tbody {
        color: $font_grey_table;

        td {
            padding: 17px 30px;
            text-align: left;

            &.tdis {
                padding: 0 0 0 0;

                .tdi {
                    padding: 17px 30px;
                    border-bottom: 1px solid $bg_grey;

                    &:last-child {
                        border: 0;
                    }
                }
            }

            &.hitcount {
                text-align: center;
                color: $orange;
                font-size: 14px;
                font-weight: bold;
                padding: 15px 30px;

                &.tdis {
                    padding: 0 0 0 0;

                    .tdi {
                        padding: 15px 30px;
                    }
                }
            }
        }
    }

}

.ud_table_D {
    text-align: center;

    thead {
        color: $font_color;

        th {
            padding: 10px 30px;
        }
    }

    tbody {
        color: $font_grey_table;

        td {
            padding: 17px 30px;

            &:last-child {
                padding: 10px;

                textarea {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

}

//risk trend
.ud_table_rainbow {

    thead > tr > th {
        //border-bottom: 1px solid $grey_light;
        border-bottom: 1px solid rgba(124, 124, 124, 0.1);
    }

    tbody tr {
        td {
            //border-bottom: 1px solid $grey_light;
            border-bottom: 1px solid rgba(124, 124, 124, 0.1);
        }

        &:last-child {
            td {
                border-bottom: 0;
            }
        }
    }

    thead > tr > th,
    tbody > tr > td,
    tbody > tr > th {
        color: #fff;
        width: 20%;
        padding: 16px 30px;
        text-align: center;

    }

    thead > tr > th.c1 {
        color: $font_color;
    }

    tbody > tr > td.c1 {
        color: $font_grey_dark;
    }

    .c1 {
        background: #dedede;
    }

    .c2 {
        background: $orange;
    }

    .c3 {
        background: $green;
    }

    .c4 {
        background: $blue;
    }

    .c5 {
        background: $font_color_title;
    }

    .num {
        font-size: 14px;
        //font-weight: bold;
        padding: 15px 30px;
    }

    .num_lg {
        font-size: 16px;
        //font-weight: bold;
        padding: 12px 30px;
    }
}

td .operation {
    color: $blue;
    cursor: pointer;
}

//riskEvent detail
.list_red {
    border: 1px solid $grey_light;
    border-bottom: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    li {
        min-height: 50px;
        border-bottom: 1px solid $grey_light;
        overflow: hidden;
        position: relative;

        div:last-child {
            border-left: 1px solid $grey_light;

        }
    }

    .t, .d {
        padding: 16px 30px;
        display: inline-block;
    }

    .t {
        width: 140px;
        border-right: 0;
        padding-right: 15px;
        color: $font_color;
    }

    .d {
        border-left: 0;
        padding-left: 15px;
        color: $font_grey_table;

        &.operation {
            color: $blue;
        }
    }
}

.with_detail {
    tbody tr:hover {
        //background: #fff;
        background: $bg_grey_light;
        cursor: pointer;
    }
}

#rulelist {
    /*tbody>tr>td>span {
        display: block;
    }*/

    tbody > tr > td > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ruleCode {
        max-width: 20em;
    }

    .desc {
        max-width: 210px;
    }

    .strategyName {
        max-width: 7em;
    }

    .scenarioName {
        max-width: 7em;
    }

    .solutionName {
        max-width: 7em;
    }

    .platform {
        max-width: 10em;
    }

}

tr.disabledLine td {
    color: #D0C9C9;
}

.table_createStrategy {
    background: #fff;
    table-layout: fixed;
    thead {
        background: $ncolor_table_bg;
        tr {
            height: 32px;
            border-top: 1px $grey_light solid;
            th {
                color: $font_color_title;
                font-weight: 700;
                white-space: nowrap;
                padding: 6px 0;
                font-size: 14px;
            }
            th .title {
                color: $font_color_title;
                font-weight: 700;
                white-space: nowrap;
                font-size: 14px;                
                margin: 0;
            }
            th{
                padding-left: 10px;
            }
            th+th:before{
                display: inline-block;
                position: relative;
                top: 2px;
                left: -10px;
                height: 12px;
                content: " ";
                border-left: 1px solid $border_color_grey;
            }

        }
    }

    tbody {
        tr {
            td {
                padding: 10px;
                vertical-align: top;
            }
        }
    }
    font-size: 13px;
    //choose scenario templates    
    td:hover{
        background-color: $ncolor_table_bg;
    }
    tr:hover .line {
        background-color: #f6f9f9; 
    }
    tr:hover .rule {
        background-color: #f6f9f9; 
    }
    .solution:hover~.rule {
        background-color: #fff ; 
    }
    .scenario:hover~.rule {
        background-color: #fff ; 
    }
    .scenario {
        border-top: 1px solid $grey_light;
        padding: 0px 5px;
        height: $height_table_line;
        line-height: $height_table_line;
        cursor: default;
        color: #000;
    }
    //choose solution templates
    .solution {
        border-top: 1px solid $grey_light;
        padding: 0px 5px;
        height: $height_table_line;
        line-height: $height_table_line;
        cursor: default;
        color: #000;
        .solution_text{
            display: block;
            overflow: hidden;
        }
    }
    .rule {
        border-top: 1px solid $grey_light;
        padding: 0px 10px;
        height: $height_table_line;
        line-height: $height_table_line;
        position: relative; 
        cursor: default;
        color: #000;
        input {
            position: absolute;
            top: 10px;
            right: 30px;
        }
        span {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            height:50px;
        }
        .pointer {
            cursor:pointer;
        }
    }
    .norule{
        text-align: center;
        font-size: 20px;
        padding: 30px 0;
        color: $ncolor_grey;
    }
    .hover {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .library_rule {
        border-bottom: 1px solid $grey_light;
        padding: 0px 10px;
        height: $height_table_line;
        line-height: $height_table_line;
        position: relative; 
        cursor: default;
        color: #000;
        input {
            position: absolute;
            top: 15px;
            left: 550px;
        }
        span {
            display: inline-block;            
            margin-left: 20px;
        }
        &.info{
            color: $ncolor_blue;
            cursor: pointer;
        }
    }
    .vertical_align_middle {
        vertical-align: middle;
    }
    .hide_option {
        float: right;
        margin-right: 5px;
        display: none;
    }
    tr.checked{
        background : $ncolor_lgrey;
    }
    td:hover .hide_option{
        display: inline-block;
    }
    .rule:hover~.rule .hide_option {
        display: inline-block ; 
    }
    .width100 { width:100px; }
    .width120 { width:120px; }
    .width140 { width:140px; }
    .width150 { width:150px; }
    .width160 { width:160px; }
    .width170 { width:170px; }
    .width200 { width:210px; }
    .width230 { width:230px; }
    .width250 { width:280px; }
    .width420 { width:420px; }
    .width600 { width:600px; }
    .widthp10 { width:10%; }
    .widthp12 { width:12%; }
    .widthp15 { width:15%; }
    .widthp20 { width:20%; }
    .widthp25 { width:25%; }
    .widthp30 { width:30%; }
    .widthp40 { width:40%; }
    .widthp50 { width:50%; }
    .widthp60 { width:60%; }
    .widthm150 { min-width:150px; }
    .cgrey {
        color:$ncolor_grey;
        a{
            color:$ncolor_grey;
        }
    }
    .corange {
        color:$ncolor_orange;
        a{
            color:$ncolor_orange;
        }
    }
    .borange {
        background: mix($ncolor_orange,#fff,5) !important;
    }
    &.auto-thead-rule{
        /*thead tr { 
            display:block; 
        } 
        tbody { 
            display: block; 
            height: 400px; 
            overflow: auto;
            tr{
                width: 100%;
            } 
        }*/
        tr {
            >:nth-child(1){width:15%}
            >:nth-child(2){width:15%}
            >:nth-child(3){width:35%}
            >:nth-child(4){width:15%}
            >:nth-child(5){width:20%}
        }
    }
    &.auto-thead-predicator{
        /*thead tr { 
            display:block;
            th{
                float:left;
            }
        } 
        tbody { 
            display: block; 
            height: 400px; 
            overflow: auto;
            tr{
                display:block;
                td{
                    float:left;
                    overflow: inherit;
                }
            } 
        }*/
        tr {
            >:nth-child(1){width:60%}
            >:nth-child(2){width:20%}
            >:nth-child(3){width:20%}
        }
    }
}

.table_ruleConditions {
    margin-bottom: 50px;

    thead {

        tr {
            border-top: 1px solid $grey_light;
        }

        th {
            color: $font_color_title;
            font-weight: bold;
            padding: 23px 0;
        }

        //titles of rule condition information
        .rcInfo_t {
            width: 120px;
        }

    }

    tbody {
        tr {
            td {
                padding: 3px 0;
                //vertical-align: top;
            }

            &:first-child {
                td {
                    padding-top: 23px;
                }
            }

            &:last-child {
                td {
                    padding-bottom: 23px;
                    border-bottom: 1px solid $grey_light;
                }
            }
        }
    }
}


.rule_condition_list{
    margin-top: 11px
}

.ud_table_B.businessData {
    .highlight {
        td {
            color: $red;
        }
    }

    .relation {
        &:hover {
            cursor: pointer;
        }
    }
}

.rm_table {
    .disabled {
        color:#acb0b9;
    }
}

.ud-table-title-fixed {
    position: absolute;
    width: 100%;
    z-index:2;
}