.vernier {
    font-size: 12px;

    .vernierBar {
        rect {
            fill: #65b22c;
        }

        .barText {
            font-size: 12px;
            fill: #000;
        }
    }

    .vernierDot {

        //DEL
        rect {
            fill: rgba(256,256,256,0.5);

            &.dragging {
                fill: rgba(256,256,256,0.8);
            }
        }

        circle {
            fill: rgba(256,256,256,1);
            stroke: #d7d7d7;
            stroke-width: 1px;

            &.dragging {
                fill: rgba(256,256,256,1);
            }
        }
    }

    .vernierText {
        fill: #65b22c;

        text {
            font-size: 12px;
            fill: #fff;
        }

    }

}


