<!--<div class="ud_content_withlist" cg-busy="queryPromise">-->
<div>
    <div class="rm_content_header">
        <h1 class="title">事件日志</h1>
        <!--<div class="subtitle">
            <div class="navgroup rm_left rm_collapse">
                <a class="link" data-toggle="collapse" data-target="#advancedSearch" ng-click="colExp()">
                    <span class="ud_collapse_btn" ng-show="collapse">收起高级搜索<span
                            class="glyphicon glyphicon-menu-up ud_icon"></span></span>
                    <span class="ud_collapse_btn" ng-hide="collapse">展开高级搜索<span
                            class="glyphicon glyphicon-menu-down ud_icon"></span></span>
                </a>
            </div>
        </div>-->
    </div>
    <!--
    <div class="ud_content_condition">
        <div class="conditions collapse" id="advancedSearch">

            <div class="condition">
                <div class="title">事件时间：</div>
                <div class="itemgroup">
                    <div class="ud_datepicker">
                        <input type="text" class="item_ipt"
                               ng-model="startTime"
                               datepicker-popup="{{format}}"
                               is-open="startOpened"
                               min-date="minDate"
                               max-date="endTime"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               show-button-bar="false"
                               ng-click="openStartDate($event)"
                               placeholder="请选择日期"
                               ng-change="validateDate()"
                               readonly/>
                        <span class="item_hyphen">-</span>
                        <input type="text" class="item_ipt"
                               ng-model="endTime"
                               datepicker-popup="{{format}}"
                               is-open="endOpened"
                               min-date="startTime"
                               max-date="maxDate1"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               show-button-bar="false"
                               ng-click="openEndDate($event)"
                               placeholder="请选择日期"
                               ng-change="validateDate()"
                               readonly/>
                    </div>
                    <a class="item" ng-repeat="item in dateRanges" ng-class="{active: dateRangeCode === $index}" ng-click="setDateRange($index)">{{item}}</a>
                    <span ng-class="{rm_text_error: tip_date.invalid, rm_text_correct: !(tip_date.invalid)}" class="item_hyphen">{{tip_date.info}}</span>
                </div>
            </div>

            <div class="condition">
                <div class="title">风险等级：</div>
                <div class="itemgroup">
                    <a class="item" ng-repeat="item in riskLevels" ng-class="{active: queryConditions.riskLevel == item.code}"
                       ng-click="setRiskLevel($index)">{{item.name}}</a>
                </div>
            </div>

            <div class="condition">
                <div class="title">处理结果：</div>
                <div class="itemgroup">
                    <a class="item" ng-repeat="item in retCodes" ng-class="{active: queryConditions.retCode == item.code}" ng-click="setRetCode($index)">
                        {{item.name}}
                    </a>
                </div>
            </div>

            <div class="condition">
                <div class="title">关键词：</div>
                <div class="itemgroup">
                    <select class="item_ipt" ng-model="queryKeyword.keywordType" ng-change="setKeywordType()"
                            ng-options="keywordType.code as keywordType.name for keywordType in keywordTypes">
                        <option selected value="" disabled>请选择关键词维度</option>
                    </select>
                    <input type="text" placeholder="请输入关键词" ng-model="queryKeyword.keyword" size="25" class="item_ipt"
                           ng-focus="showSearchBtn($event)">
                    <input type="button" class="rm_btn_sm rm_btn_primary item_ipt ud_hide" ng-click="queryByKeyword()" value="搜索" />
                </div>
            </div>
        </div>
    </div>
-->
    <div class="ud_content_condition_B">
        <!--<div class="conditions-wrapper collapse" id="advancedSearch">-->
        <div class="conditions-wrapper">
            <div class="conditions condition-row">
                <div class="condition">
                    <div class="condition-hd" ng-click="onClickSelector($event)">
                        <span ng-show="chosenDateRangeName==''" class="text">事件时间</span>
                        <span ng-show="chosenDateRangeName!=''" class="text">{{dateRanges[dateRangeCode]}}</span>
                        <!--<span class="glyphicon glyphicon-triangle-bottom"></span>-->
                        <span class="arrow-down"></span>
                    </div>
                    <div class="condition-bd">
                        <div class="title">事件时间</div>
                        <a class="item" ng-repeat="item in dateRanges" ng-class="{active: dateRangeCode === $index}" ng-click="setDateRange($index)">{{item}}</a>
                    </div>
                </div>
                <div class="condition">
                    <!--<div class="title">事件时间：</div>-->
                    <div class="itemgroup">
                        <div class="ud_datepicker">
                            <input type="text" class="item_ipt" ng-model="startTime" uib-datepicker-popup="{{format}}" is-open="startOpened" min-date="minDate" max-date="endTime" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" ng-click="openStartDate($event)" placeholder="请选择日期" ng-change="validateDate()" readonly/>
                        </div>
                        <div class="ud_datepicker" style="margin-top: 20px;">
                            <span class="item_hyphen">-</span>
                        </div>
                        <div class="ud_datepicker">
                            <input type="text" class="item_ipt" ng-model="endTime" uib-datepicker-popup="{{format}}" is-open="endOpened" min-date="startTime" max-date="maxDate1" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" ng-click="openEndDate($event)" placeholder="请选择日期" ng-change="validateDate()" readonly/>
                        </div>
                        <span ng-class="{rm_text_error: tip_date.invalid, rm_text_correct: !(tip_date.invalid)}" class="item_tip">{{tip_date.info}}</span>
                    </div>
                </div>
            </div>
            <div class="conditions condition-row">
                <div class="condition">
                    <div class="condition-hd" ng-click="onClickSelector($event)">
                        <span ng-show="chosenStrategyName==''" class="text">攻略</span>
                        <span ng-show="chosenStrategyName!=''" class="text">{{chosenStrategyName}}</span>
                        <!--<span class="glyphicon glyphicon-triangle-bottom"></span>-->
                        <span class="arrow-down"></span>
                    </div>
                    <div class="condition-bd">
                        <div class="title">攻略</div>
                        <a class="item" ng-class="{active: queryConditions.strategyCode ==''}" ng-click="setStrategy('')">全部</a>
                        <a class="item" ng-repeat="item in strategyConditions" ng-class="{active: queryConditions.strategyCode == item.strategyCode}" ng-click="setStrategy(item)">{{item.strategyName}}</a>
                    </div>
                </div>
                <div class="condition">
                    <div class="condition-hd" ng-click="onClickSelector($event)">
                        <span ng-show="chosenScenarioName==''" class="text">场景</span>
                        <span ng-show="chosenScenarioName!=''" class="text">{{chosenScenarioName}}</span>
                        <!--<span class="glyphicon glyphicon-triangle-bottom"></span>-->
                        <span class="arrow-down"></span>
                    </div>
                    <div class="condition-bd">
                        <div class="title">场景</div>
                        <a class="item" ng-class="{active: queryConditions.scenarioTypeCode ===''}" ng-click="setScenario(-1)">全部</a>
                        <a class="item" ng-repeat="item in scenarioConditions" ng-class="{active: queryConditions.scenarioTypeCode == item.code}" ng-click="setScenario($index)">{{item.name}}</a>
                    </div>
                </div>
                <div class="condition" ng-show="solutionConditions[0]">
                    <div class="condition-hd" ng-click="onClickSelector($event)">
                        <span ng-show="chosenSolutionName === ''" class="text">锦囊</span>
                        <span ng-show="chosenSolutionName !== ''" class="text">{{chosenSolutionName}}</span>
                        <span class="arrow-down"></span>
                    </div>
                    <div class="condition-bd">
                        <div class="title">锦囊</div>
                        <a class="item" ng-class="{active: queryConditions.solutionId === ''}" ng-click="setSolution(-1)">全部</a>
                        <a class="item" ng-repeat="item in solutionConditions" ng-class="{active: queryConditions.solutionId === item.id}" ng-click="setSolution($index)">{{item.name}}</a>
                    </div>
                </div>
                <div class="condition">
                    <div class="condition-hd" ng-click="onClickSelector($event)">
                        <span ng-show="chosenIsHit === ''" class="text">是否命中规则</span>
                        <span ng-show="chosenIsHit !== ''" class="text">{{chosenIsHit}}</span>
                        <span class="arrow-down"></span>
                    </div>
                    <div class="condition-bd">
                        <div class="title">是否命中规则</div>
                        <a class="item" ng-repeat="item in isHits" ng-class="{active: queryConditions.isHit === item.code}" ng-click="setIsHit($index)">{{item.name}}</a>
                    </div>
                </div>
                <div class="condition">
                    <div class="condition-hd" ng-click="onClickSelector($event)">
                        <span ng-show="chosenPolicyName==''" class="text">决策结果</span>
                        <span ng-show="chosenPolicyName!=''" class="text">{{chosenPolicyName}}</span>
                        <!--<span class="glyphicon glyphicon-triangle-bottom"></span>-->
                        <span class="arrow-down"></span>
                    </div>
                    <div class="condition-bd">
                        <div class="title">决策结果</div>
                        <a class="item" ng-repeat="item in policies" ng-class="{active: queryConditions.policy == item.code}" ng-click="setPolicy($index)">
                            {{item.name}}
                        </a>
                    </div>
                </div>
                <div class="condition">
                    <div class="condition-hd" ng-click="onClickSelector($event)">
                        <span ng-show="chosenMarkName==''" class="text">标记结果</span>
                        <span ng-show="chosenMarkName!=''" class="text">{{chosenMarkName}}</span>
                        <!--<span class="glyphicon glyphicon-triangle-bottom"></span>-->
                        <span class="arrow-down"></span>
                    </div>
                    <div class="condition-bd">
                        <div class="title">标记结果</div>
                        <a class="item" ng-repeat="item in marks" ng-class="{active: queryConditions.mark == item.code}" ng-click="setMark($index)">{{item.name}}</a>
                    </div>
                </div>
                <div class="condition_tip" ng-class="{ud_text_error: tip_queryCondition.invalid, ud_text_correct: !(tip_queryCondition.invalid)}">{{tip_queryCondition.info}}</div>
            </div>
            <div class="conditions condition-row">
                <div class="search-group" style="float: left;">
                    <div class="keyword_tip" ng-class="{ud_text_error: tip_keyword.invalid, ud_text_correct: !(tip_keyword.invalid)}">{{tip_keyword.info}}</div>
                    <div class="condition keyword-dimension">
                        <div class="condition-hd ud_too_long_text" ng-click="onClickSelector($event)" title="{{chosenKeywordType}}" style="width:70px;">
                            <span ng-show="chosenKeywordType==''">关键词维度</span>
                            <span ng-show="chosenKeywordType!=''">{{chosenKeywordType}}</span>
                            <!--<span class="glyphicon glyphicon-triangle-bottom"></span>-->
                            <span class="arrow-down"></span>
                        </div>
                        <div class="condition-bd">
                            <div class="title">关键词维度</div>
                            <a class="item" ng-repeat="keywordType in dimensions" ng-class="{active: queryConditions.dimension === keywordType.id }" ng-click="setKeywordType(keywordType)">
                                {{keywordType.name}}
                            </a>
                            <a class="item" ng-repeat="keywordType in keywordTypes" ng-class="{active: queryConditions.parameter === keywordType.parameterCode }" ng-click="setKeywordType(keywordType)">
                                {{keywordType.parameterName}}
                            </a>
                        </div>
                    </div>
                    <!--<div class="search-item search-text">请输入关键字</div>
                    <div class="search-item search-btn">搜索</div>-->
                    <input type="text" class="search-item search-text" placeholder="请输入关键字" ng-model="queryKeyword.keyword" size="25" ng-keypress="queryByKeywordWithEnterKey($event)" ng-change="setKeyword()" />
                </div>
            </div>
            <div class="conditions condition-row">
                <div class="search-group" style="float: left;">
                    <div class="udi-typeahead-select rm_left">
                        <input type="text" ng-model="ruleEnt" placeholder="请输入规则名称" uib-typeahead="ent as ent.ruleName for ent in  ruleList | filter:{ruleName:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                    </div>
                    <input style="margin: 0;" type="button" class="search-item search-btn" ng-click="query()" value="搜索" />
                </div>
            </div>
            <div style="height: 20px;">
            </div>
        </div>
        <div ng-hide="pages === 0" style="margin-top: 10px;">
            <div class="ud_panel ud_panel_calculate">
                <div class="ud_row">
                    <div class="ud_col4">
                        <div class="title">全部事件</div>
                        <h3 class="num num-1">{{eventCounts.riskEventLogCounts}}</h3>
                    </div>
                    <div class="ud_col4">
                        <div class="title">
                            阻止事件（{{eventCounts.preventProportion}}）
                        </div>
                        <h3 class="num num-2">{{eventCounts.preventRiskEventLogCounts}}</h3>
                    </div>
                    <div class="ud_col4">
                        <div class="title">
                            放行事件（{{eventCounts.releaseProportion}}）
                        </div>
                        <h3 class="num num-3">{{eventCounts.releaseRiskEventLogCounts}}</h3>
                    </div>
                    <div class="ud_col4">
                        <div class="title">
                            人工审核事件（{{eventCounts.missProportion}}）
                        </div>
                        <h3 class="num num-4">{{eventCounts.missRiskEventLogCounts}}</h3>
                    </div>
                </div>
            </div>
            <div class="rm_content_table" style="background-color: #fff;">
                <table class="rm_table with_detail ud_table_detail">
                    <thead>
                        <tr>
                            <th>事件时间</th>
                            <th>攻略</th>
                            <th>场景</th>
                            <th>是否命中规则</th>
                            <th>决策结果</th>
                            <th>账户ID</th>
                            <th>设备ID</th>
                            <th>用户请求IP</th>
                            <th>IP地理位置</th>
                            <th>应用平台</th>
                            <th>标记结果</th>
                            <!--<th>事件ID</th>
                    <th>交易ID</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>银行卡号</th>
                    <th>身份证号</th>
                    <th>护照号</th>
                    <th>IMEI</th>
                    <th>标记/操作</th>-->
                        </tr>
                    </thead>
                    <!--<tbody infinite-scroll='loadPage(page+1)' infinite-scroll-disabled="links['last'] == page" infinite-scroll-container="'.rm_right_content'">-->
                    <tbody>
                        <tr ng-repeat="event in eventLogs">
                            <td ng-click="eventDetail(event)">{{event.eventTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td ng-click="eventDetail(event)">{{event.strategyName}}</td>
                            <td ng-click="eventDetail(event)">{{event.scenarioName}}</td>
                            <td ng-click="eventDetail(event)">{{isHitMap[event.isHit]}}</td>
                            <td ng-click="eventDetail(event)">
                                <i ng-class="{defaultStatus: event.policy, defaultStatus_stop:event.policy=='deny', defaultStatus_untarget:event.policy=='review'}">
                                <i ng-show="event.policy=='pass'" class="iconfont" >&#xe6c0;</i>
                                <i ng-show="event.policy=='deny'" class="iconfont">&#xe6bf;</i>
                                <i ng-show="event.policy=='review'" class="iconfont">&#xe6be;</i>
                                <span class="dealText">{{policyMap[event.policy]}}</span>
                                </i>
                            </td>
                            <!-- <td ng-click="eventDetail(event)">{{event.policy}}</td> -->
                            <td ng-show="isLink.userId" title="{{event.accountId}}" ng-click="queryByGivenId('user_id', event.accountId)">
                                <a class="operation">{{event.accountId | lengthLimit}}</a>
                            </td>
                            <td ng-hide="isLink.userId" ng-click="eventDetail(event)">{{event.accountId | lengthLimit}}</td>
                            <td ng-show="isLink.deviceId" title="{{event.deviceId}}" ng-click="queryByGivenId('device_id', event.deviceId)">
                                <a class="operation">{{event.deviceId}}</a></td>
                            <td ng-hide="isLink.deviceId" ng-click="eventDetail(event)">{{event.deviceId}}</td>
                            <td ng-show="isLink.ip" title="{{event.userRequestIP}}" ng-click="queryByGivenId('IP', event.userRequestIP)">
                                <a class="operation">{{event.userRequestIP}}</a>
                            </td>
                            <td ng-hide="isLink.ip" ng-click="eventDetail(event)">{{event.userRequestIP}}</td>
                            <td ng-click="eventDetail(event)">{{event.cityIp}}</td>
                            <td ng-click="eventDetail(event)">{{platformMap[event.platform]}}</td>
                            <td ng-click="eventDetail(event)">{{markMap[event.mark]}}</td>
                            <!--<td ng-click="eventDetail(event.id)" title="{{event.eventId}}">{{event.eventId | lengthLimit}}</td>
                    <td ng-click="queryByGivenId('trans_id', event.transactionID)">
                        <a class="operation">{{event.transactionID}}</a>
                    </td>
                    <td ng-click="queryByGivenEncryptedId('Name', event.secretname, event.name)">
                        <a class="operation">{{event.name}}</a>
                    </td>
                    <td ng-click="queryByGivenEncryptedId('Mobile', event.secretmobile, event.mobile)">
                        <a class="operation">{{event.mobile}}</a>
                    </td>
                    <td ng-click="queryByGivenEncryptedId('CardNumber', event.secretcardNumber, event.cardNumber)">
                        <a class="operation">{{event.cardNumber}}</a>
                    </td>
                    <td ng-click="queryByGivenEncryptedId('IDNumber', event.secretIDNumber, event.idnumber)">
                        <a class="operation">{{event.idnumber}}</a>
                    </td>
                    <td ng-click="queryByGivenId('PassportNumber', event.passportID)">
                        <a class="operation">{{event.passportID}}</a>
                    </td>
                    <td ng-click="queryByGivenId('IMEINumber', event.imeinumber)">
                        <a class="operation">{{event.imeinumber}}</a>
                    </td>
                    <td ng-click="eventDetail(event.id)">{{event.remark}}</td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<nav>
        <ul class="pagination">
            <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
            <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
            <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
            <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
            <li class="active"><a>{{page}}</a></li>
            <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
            <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
            <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
            <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
        </ul>
    </nav>-->
            <div class="ud_right">
                <p class="total_page">总&nbsp;{{pages}}&nbsp;页，每页&nbsp;{{pageSize}}&nbsp;条，总&nbsp;{{eventCounts.riskEventLogCounts}}&nbsp;条</p>
            </div>
            <nav class="ud_pagination_row">
                <ul class="ud_pagination">
                    <li ng-class="{active: pageNumber !== 1}">
                        <a ng-show="pageNumber !== 1" class="p_btn btn_available" ng-click="loadPage(1)">首页</a>
                        <span ng-hide="pageNumber !== 1" class="p_btn">首页</span>
                    </li>
                    <li ng-class="{active: pageNumber > 1}">
                        <a ng-show="pageNumber > 1" class="p_btn btn_available" ng-click="loadPage(pageNumber-1)">&lt;&nbsp;上一页</a>
                        <span ng-hide="pageNumber > 1" class="p_btn">&lt;&nbsp;上一页</span>
                    </li>
                    <li>
                        <input class="p_ipt" type="text" ng-model="page" ng-keypress="queryByPage($event)" />
                    </li>
                    <li ng-class="{active: pageNumber < pages}">
                        <a ng-show="pageNumber < pages" class="p_btn btn_available" ng-click="loadPage(pageNumber+1)">下一页&nbsp;&gt;</a>
                        <span ng-hide="pageNumber < pages" class="p_btn">下一页&nbsp;&gt;</span>
                    </li>
                    <li ng-class="{active: pageNumber < pages}">
                        <a ng-show="pageNumber < pages" class="p_btn btn_available" ng-click="loadPage(pages)">尾页</a>
                        <span ng-hide="pageNumber < pages" class="p_btn">尾页</span>
                    </li>
                </ul>
                <div class="tip_page" ng-class="{ud_text_error: tip_page.invalid, ud_text_correct: !(tip_page.invalid)}">{{tip_page.info}}</div>
            </nav>
        </div>
        <div ng-show="pages===0" class="ud_panel" style="margin-top: 10px;">
            <p class="ud_text_error">查询结果为空，换个查询条件试试吧。</p>
        </div>
    </div>
