<right-slide-dialog ng-cloak dialog-name="event_log-detail" back-router="eventLog">
    <div class="right_slide_width">
        <div class="rmn_content_header rmn_slide">
            <h1 class="title">
                事件详情
                <span class="rm_create_title" ng-show="eventLog.mark=='1'">(标记：有风险)</span>
                <span class="rm_create_title" ng-show="eventLog.mark=='0'">(标记：无风险)</span>
            </h1> 
            <div class="rm_right">
                <a class="operation fs14" ng-click="addNameList()" >添加名单</a>
                <a class="operation fs14" ng-show="esEventLogId">|</a>
                <a class="operation fs14" ng-show="esEventLogId" ng-click="addMark()">{{eventLog.mark?"修改标记":"添加标记"}}</a>
            </div>
        </div>
        <ul class="progressBar event_log_bar">
            <li class="progressItem" ng-repeat="(value, label) in titleList" ng-class="{active:activeIndex==value}" ng-click="changeBar(value)">{{label}}</li>
        </ul>
        <div class="rmn_content_normal rmn_event_log">
            <div class="event_log_pan" id="riskPolicyDetails">
                <div class="log_title">{{titleList['riskPolicyDetails']}}</div>

                <span class="log_name">事件时间</span>
                <span class="log_info">{{eventLog.riskPolicyDetails.eventTime}}</span>
                <span class="log_name">事件ID</span>
                <span class="log_info">{{eventLog.riskPolicyDetails.eventId}}</span>
                <span class="log_name">攻略</span>
                <span class="log_info">{{eventLog.riskPolicyDetails.strategyName}}</span>
                <span class="log_name">场景</span>
                <span class="log_info">{{eventLog.riskPolicyDetails.scenarioTypeName}}</span>
                <span class="log_name">决策结果</span>
                <span class="log_info">{{policyMap[eventLog.riskPolicyDetails.policy]||""}}</span>
                <div class="event_log_line"></div>

                    <div class="log_title1">命中锦囊</div>
                <div class="" ng-repeat="solution in eventLog.riskPolicyDetails.triggerSolutionDetails">
                    <span class="log_name">锦囊名称</span>
                    <span class="log_info">{{solution.currentName}}</span>
                    <span class="log_name">风险类型</span>
                    <span class="log_info">{{solution.currentRiskTypeName}}</span>
                    <span class="log_name">锦囊分值</span>
                    <span class="log_info">{{solution.score}}分</span>
                    <span class="log_name">锦囊决策结果</span>
                    <span class="log_info">{{policyMap[solution.policy]||""}}</span>
                    <span class="log_name">命中规则</span>
                    <span class="log_info" ng-class="{noname:$index!=0}" ng-repeat="rule in solution.triggerRuleDetails" ng-click="showRuleInfo(rule)"><span class="event_log_link">{{rule.currentName+"，"+rule.score+"分"}}</span></span>
                </div>
            </div>

            <div class="event_log_pan" id="geographyDetails">
                <div class="log_title">{{titleList['geographyDetails']}}</div>
                <div ng-repeat="(key,dim) in eventLog.geographyDetails">
                    <div ng-repeat="rpent in dim"  ng-show="dim.length>0">
                        <span class="log_name" title="{{rpent.name}}">
                            <a ng-class="{fwbold:rpent.analyzedParameters.length>0}">{{rpent.name}}</a>
                        </span>
                        <span class="log_info">
                            <span ng-class="{event_log_link:rpent.isLinked=='1',fwbold:rpent.analyzedParameters.length>0}" ng-click="openNewSelect(rpent)">{{rpent.value}}</span>                        
                        </span>
                        <div class="event_log_ml" ng-repeat="apent in rpent.analyzedParameters">
                            <span class="log_name" title="{{apent.name}}">{{apent.name}}</span>
                            <span class="log_info">
                                <span ng-class="{event_log_link:apent.isLinked=='1'}" ng-click="openNewSelect(apent)">{{apent.value}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="event_log_pan" id="fingerPrintDetails">
                <div class="log_title">{{titleList['fingerPrintDetails']}}</div>
                <div ng-repeat="fpEnt in eventLog.fingerPrintDetails.fingerPrintList">
                    <span class="log_name" title="{{fpEnt.name}}">{{fpEnt.name}}</span>
                    <span class="log_info" >{{fpEnt.value}}</span></span>
                </div>
            </div>

            <div class="event_log_pan" id="businessDataDetails">
                <div class="log_title">{{titleList['businessDataDetails']}}</div>

                <span class="log_name" ng-show="eventLog.businessDataDetails.deviceId">设备ID</span>
                <span class="log_info" ng-show="eventLog.businessDataDetails.deviceId">{{eventLog.businessDataDetails.deviceId}}</span>
                <span class="log_name" ng-show="eventLog.businessDataDetails.traceId">traceID</span>
                <span class="log_info" ng-show="eventLog.businessDataDetails.traceId">{{eventLog.businessDataDetails.traceId}}</span>
                <div ng-repeat="rpent in eventLog.businessDataDetails.requestParameters">
                    <span class="log_name" title="{{rpent.name}}">
                        <a ng-class="{fwbold:rpent.analyzedParameters.length>0}">{{rpent.name}}</a>
                    </span>
                    <span class="log_info">
                        <span ng-class="{event_log_link:rpent.isLinked=='1',fwbold:rpent.analyzedParameters.length>0}" ng-click="openNewSelect(rpent)">{{rpent.value}}</span>                        
                    </span>
                    <div class="event_log_ml" ng-repeat="apent in rpent.analyzedParameters">
                        <span class="log_name" title="{{apent.name}}">{{apent.name}}</span>
                        <span class="log_info">
                            <span ng-class="{event_log_link:apent.isLinked=='1'}" ng-click="openNewSelect(apent)">{{apent.value}}</span>
                        </span>
                    </div>
                </div>
                <div ng-repeat="ufpent in eventLog.businessDataDetails.undefinedParameters">
                    <span class="log_name" title="{{ufpent.name}}">{{ufpent.code}}</span>
                    <span class="log_info">{{ufpent.value}}</span>
                </div>
            </div>
           
        </div>
    </div>
</right-slide-dialog>

<script type="text/ng-template" id="AddNameListFromEvent.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>添加名单</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                <div class="rm_modal_form">
                    <div class="ud_form_group_lg">
                        <label class="t">选择名单</label>
                        <div class="c">
                            <div class="chosen big">
                                <select chosen data-placeholder-text-single="'选择名单'" disable-search="true" ng-model="listDefinitionId" ng-change="validate_parameter()" ng-options="ent.id as ent.name for ent in parameterList">
                                    <option value=""></option>
                                </select> 
                            </div>
                            <span ng-class="{ud_text_error: tip_parameter.invalid, ud_text_correct: !(tip_parameter.invalid)}">{{tip_parameter.info}}</span>
                        </div>
                    </div>
                    <div class="ud_form_group_lg">
                        <label class="t">选择字段</label>
                        <div class="c" ng-show="nameList.length>0">
                            <table class="table_createStrategy">
                                <thead>
                                    <tr>
                                        <th class="widthp10"></th>
                                        <th class="widthp45">字段显示名</th>
                                        <th class="widthp45">字段值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ent in nameList ">
                                        <td class="line">
                                            <input  type="checkbox" ng-disabled="ent.isChecked=='1'?true:false"  ng-model="ent.newChecked"></input> 
                                        </td>
                                        <td class="line" title="{{ent.name}}">{{ent.name}}</td>
                                        <td class="line" title="{{ent.value}}">{{ent.value}}</td>
                                    </tr>           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull_center">
                <button class="rm_nbtn rm_nbtn_primary" ng-click="cancel()">
                    取消
                </button>
                <button class="rm_nbtn rm_nbtn_primary" ng-click="ok()">
                    确定
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="EventLogRule.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>规则详情</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="event_log_pan event_log_pan_modal" >
                <span class="log_name">规则名称</span>
                <span class="log_info">{{ruleInfo.currentName}}</span>
                <span class="log_name">规则分值</span>
                <span class="log_info">{{ruleInfo.score}}</span>
                <div ng-show="ruleInfo.triggerCalculationDetails.length>0">
                    <div class="event_log_line"></div>
                    <div class="log_title1">触发指标</div>
                    <div ng-repeat="tcent in ruleInfo.triggerCalculationDetails">
                        <span class="log_name">指标</span>
                        <span class="log_info">{{showOneName(tcent.currentName,tcent.value)}}</span>
                        <span class="log_name">主属性</span>
                        <span class="log_info">{{showOneName(tcent.primaryAttribute.name,tcent.primaryAttribute.value)}}</span>
                        <span class="log_name" ng-show="tcent.secondaryAttribute">从属性</span>
                        <span class="log_info" ng-show="tcent.secondaryAttribute">{{showOneName(tcent.secondaryAttribute.name,tcent.secondaryAttribute.value)}}</span>
                        <span class="log_name" ng-show="tcent.calculationAttribute">计算属性</span>
                        <span class="log_info" ng-show="tcent.calculationAttribute">{{showOneName(tcent.calculationAttribute.name,tcent.calculationAttribute.value)}}</span>
                        <div ng-repeat="(key,value) in tcent.details">
                            <span class="log_name" >{{key}}</span>
                            <span class="log_info">{{value}}</span>
                        </div>
                        <div ng-repeat="(key,value) in tcent.infosMap">
                            <span class="log_name" >{{key}}</span>
                            <span class="log_info">{{value}}</span>
                        </div>
                        <span class="log_name" ng-show="tcent.valueList.length>0">详情</span>
                        <span class="log_info" ng-class="{noname:$index>0}" ng-repeat="valueEnt in tcent.valueList">{{valueEnt}}</span>
                    </div>
                </div>
                <div ng-show="ruleInfo.triggerParameters.length>0">
                    <div class="event_log_line"></div>
                    <div class="log_title1">触发参数</div>
                    <div ng-repeat="tpent in ruleInfo.triggerParameters">
                        <span class="log_name">{{tpent.name}}</span>
                        <span class="log_info">{{tpent.value}}</span>
                    </div>
                </div>
                <div ng-show="ruleInfo.triggerDataServiceDetails.length>0">
                    <div class="event_log_line"></div>
                    <div class="log_title1">触发数据服务</div>
                    <div ng-repeat="tdent in ruleInfo.triggerDataServiceDetails">
                        <span class="log_name">数据服务名称</span>
                        <span class="log_info">{{tdent.name}}</span>
                        <span class="log_name">数据服务Code</span>
                        <span class="log_info">{{tdent.dataServiceCode}}</span>
                        <div ng-repeat="rpent in tdent.requestParameters">
                            <span class="log_name">{{rpent.name}}</span>
                            <span class="log_info">{{rpent.value}}</span>
                        </div>
                        <div ng-repeat="rpent in tdent.responseParameter">
                            <span class="log_name">{{rpent.name}}</span>
                            <span class="log_info">{{rpent.value}}</span>
                        </div>
                    </div>
                </div>

            </div>        
        </div>
    </div>
</script>

<script type="text/ng-template" id="AddMarkFromEvent.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>标记</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                    <div class="c">
                        <a class="iconfont" ng-class="{cblue:data.mark=='0'}" ng-click="changeDataMark('0')">&#xe6be;</a><span class="radio_span" style="margin-right: 100px;">无风险</span>
                        <a class="iconfont" ng-class="{cblue:data.mark=='1'}" ng-click="changeDataMark('1')">&#xe6be;</a><span class="radio_span">有风险</span>
                    </div>
            </div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull_center">
                <button class="rm_nbtn rm_nbtn_primary" ng-click="cancel()">
                    取消
                </button>
                <button class="rm_nbtn rm_nbtn_primary" ng-click="ok()">
                    确定
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>