<div class="ud_content_withlist">

    <div class="rm_home_board rm_home_rank">
        <h4 class="title">今日风险等级占比</h4>
        <div class="rm_riskrank rm_row">
            <div class="rm_riskrank_item rm_col5 first" ng-repeat="riskLevelStatisticsDTO in riskLevelStatisticsDTOs | orderBy:'riskLevel' :true">
                <h5 class="title_s">{{riskLevelStatisticsDTO.riskLevelName}}<span>（{{riskLevelStatisticsDTO.number}}笔）</span></h5>
                <p class="num">{{riskLevelStatisticsDTO.statistics}}%</p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="rm_home_board rm_home_event" >
        <h4 class="title">今日风险事件笔数占比</h4>
        <div class="rm_riskevent rm_row" >
            <div class="rm_riskevent_item rm_col2 first" ng-repeat="riskEventStatisticsDTO in riskEventStatisticsDTOs">
                <p>{{riskEventStatisticsDTO.method}}&nbsp;{{riskEventStatisticsDTO.statistics}}%&nbsp;<span class="count">（{{riskEventStatisticsDTO.number}}笔）</span></p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="rm_home_toprule clearfix">
        <div class="rm_col2">
            <div class="rm_home_listheader">
                <h4 class="title">命中规则<span class="tip">&nbsp;&nbsp;TOP 10 （近24小时）</span></h4>
            </div>
            <table class="rm_rulelist left with_detail">
                <tbody>
                <tr ng-repeat="ruleHitCountDTO in ruleHitCountDTOs">
                    <th class="num">{{$index+1}}.</th>
                    <td class="rule_name" ng-click="checkDetail(ruleHitCountDTO.id,ruleHitCountDTO.strategyInstanceId)">{{ruleHitCountDTO.ruleInstanceName}}</td>
                    <td class="times">{{ruleHitCountDTO.total}}次</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="rm_col2">
            <div class="rm_home_listheader ">
                <h4 class="title">阻止规则<span class="tip">&nbsp;&nbsp;TOP 10 （近24小时）</span></h4>
            </div>
            <table class="rm_rulelist with_detail">
                <tbody>
                <tr ng-repeat="ruleBlockCountDTO in ruleBlockCountDTOs">
                    <th class="num">{{$index+1}}.</th>
                    <td class="rule_name" ng-click="checkDetail(ruleBlockCountDTO.id,ruleBlockCountDTO.strategyInstanceId)">{{ruleBlockCountDTO.ruleInstanceName}}</td>
                    <td class="times">{{ruleBlockCountDTO.total}}次</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



