<right-slide-dialog ng-cloak dialog-name="edit_parameter_list" back-router="parameterList">
	<div class="right_slide_width">
		<div class="rmn_content_header rmn_slide">
		    <h1 class="title">
		        {{title}}
		    </h1>
		</div>
		<div class="rmn_content_normal rmn_footer rmn_slide">
			<form role="form" class="ud_form_lg">
				<div class="ud_form_group_lg">
	                <label class="t">*字段名</label>
	                <div class="c">
	                	<span class="ext">ext_</span>
	                    <input maxlength="46" type="text" placeholder="字段名称" class="ud_input_lg ud_input_ext" ng-model="sessionData.code" ng-change="validate_code()" ng-blur="validate_code()"><span ng-class="{ud_text_error: tip_code.invalid, ud_text_correct: !(tip_code.invalid)}">{{tip_code.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">*显示名</label>
	                <div class="c">
	                    <input maxlength="16" type="text" placeholder="显示名称" class="ud_input_lg" ng-model="sessionData.name" ng-change="validate_name()" ng-blur="validate_name()"><span ng-class="{ud_text_error: tip_name.invalid, ud_text_correct: !(tip_name.invalid)}">{{tip_name.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">*维度</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select chosen data-placeholder-text-single="'选择维度'" disable-search="true" ng-model="dataTmp.dimensionEnt" ng-change="validate_dimension()" ng-options="ent.name for ent in dataTmp.dimensionList">
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                    <span ng-class="{ud_text_error: tip_dimension.invalid, ud_text_correct: !(tip_dimension.invalid)}">{{tip_dimension.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">*类型</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select chosen data-placeholder-text-single="'选择类型'" disable-search="true" ng-model="dataTmp.typeEnt" ng-change="validate_type()" ng-options="ent.name for ent in dataTmp.typeList" ng-disabled="type=='edit'">
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                    <span ng-class="{ud_text_error: tip_type.invalid, ud_text_correct: !(tip_type.invalid)}">{{tip_type.info}}</span>
	                </div>
	            </div>
				
				<div class="ud_form_group_lg">
	                <label class="t">最大长度</label>
	                <div class="c">
	                    <input type="text" placeholder="最大长度" class="ud_input_lg" ng-model="sessionData.maxLength" ng-change="validate_maxLength()" ng-blur="validate_maxLength()"><span ng-class="{ud_text_error: tip_maxLength.invalid, ud_text_correct: !(tip_maxLength.invalid)}">{{tip_maxLength.info}}</span>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">说明</label>
	                <div class="c">
	                    <input type="text" placeholder="说明" class="ud_input_lg" ng-model="sessionData.description" ng-change="validate_description()" ng-blur="validate_description()"><span ng-class="{ud_text_error: tip_description.invalid, ud_text_correct: !(tip_description.invalid)}">{{tip_description.info}}</span>
	                </div>
	            </div>

				<div class="ud_form_group_lg" ng-show="isAnalyzeShow == 1">
	                <label class="t">是否解析</label>
	                <div class="c">
	                    <a class="iconfont" ng-class="{cblue:sessionData.isAnalyze=='0'}" ng-click="changeIsAnalyze('0')">&#xe6be;</a><span class="radio_span">解析</span>
	                    <a class="iconfont" ng-class="{cblue:sessionData.isAnalyze=='1'}" ng-click="changeIsAnalyze('1')">&#xe6be;</a><span class="radio_span">不解析</span>
	                </div>
	            </div>
	            <div ng-if="false" class="ud_form_group_lg">
	                <label class="t">启用状态</label>
	                <div class="c">
	                    <a class="iconfont" ng-class="{cblue:sessionData.status=='0'}" ng-click="changeStatus('0')">&#xe6be;</a><span class="radio_span">启用</span>
	                    <a class="iconfont" ng-class="{cblue:sessionData.status=='1'}" ng-click="changeStatus('1')">&#xe6be;</a><span class="radio_span">不启用</span>
	                </div>
	            </div>
	        </form>
		</div>
		<div class="rmn_content_footer rmn_slide">
			<div class="rm_buttoms rm_right">
				<span ng-class="{ud_text_error: tip_all.invalid, ud_text_correct: !(tip_all.invalid)}">{{tip_all.info}}</span>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="close()">取消</a>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="save()">保存</a>
			</div>
		</div>
	</div>
</right-slide-dialog>