<div>
    <div class="rmn_content_header rmn_name_list">
        <div class="m-subtitle rm_left">
            <h1>字段列表</h1>
        </div>
        <div class="rm_right">
            <div class="nsearch">
                <input type="text" class="nsearch-item" placeholder="请按字段搜索"
                       ng-model="keyword" size="25" ng-keypress="queryByEnterKey($event)" /><span class="iconfont nsearch-fdj" ng-click="parameterSelect()">&#xe705;</span>
            </div>
            <div class="dropdown rm_left">
                <a type="button" class="rm_nbtn rm_nbtn_primary" ng-click="addParameter()"><span class="iconfont fs16">&#xe69e;</span>添加字段</a>
            </div>
        </div>
        
    </div>

    <div class="rmn_content_normal rmn_slide">
        <div ud-table-title>
        <table class="table_createStrategy">
            <thead>
                <tr>
                    <th class="widthp10">显示名</th>
                    <th class="widthp15">字段名</th>
                    <th class="widthp10">
                        <div class="table_title" uib-dropdown on-toggle="dropdown">
                            <h1 class="title" uib-dropdown-toggle>维度<span class="iconfont fs12">&#xe746;</span></h1>
                            <ul class="dropdown-menu" uib-dropdown-menu >
                                <li ng-class="{checked:tFilter.dimension==''}" ng-click="tFilter.dimension='';"><a>全部</a></li>
                                <li ng-repeat="ent in theDimensions" ng-class="{checked:tFilter.dimension==ent.name}" ng-click="tFilter.dimension=ent.name;"><a>{{ent.name}}</a></li>
                            </ul>
                        </div>
                    </th>
                    <th class="widthp10">
                        <div class="table_title" uib-dropdown on-toggle="dropdown">
                            <h1 class="title" uib-dropdown-toggle>类型<span class="iconfont fs12">&#xe746;</span></h1>
                            <ul class="dropdown-menu" uib-dropdown-menu >
                                <li ng-class="{checked:tFilter.type==''}" ng-click="tFilter.type='';"><a>全部</a></li>
                                <li ng-repeat="ent in theTypes" ng-class="{checked:tFilter.type==ent.name}" ng-click="tFilter.type=ent.name;"><a>{{ent.name}}</a></li>
                            </ul>
                        </div>
                    </th>
                    <th class="widthp10">最大长度</th>
                    <th class="widthp10">
                        <div class="table_title" uib-dropdown on-toggle="dropdown">
                            <h1 class="title" uib-dropdown-toggle>字段来源<span class="iconfont fs12">&#xe746;</span></h1>
                            <ul class="dropdown-menu" uib-dropdown-menu >
                                <li ng-class="{checked:tFilter.tran==''}" ng-click="tFilter.tran='';"><a>全部</a></li>
                                <li ng-repeat="(key,value) in typeTrans" ng-class="{checked:tFilter.tran==key}" ng-click="tFilter.tran=key;"><a>{{value}}</a></li>
                            </ul>
                        </div>
                    </th>
                    <th class="widthp20">说明</th>
                    <th class="widthm150">
                        <div class="table_title" uib-dropdown on-toggle="dropdown">
                            <h1 class="title" uib-dropdown-toggle>状态<span class="iconfont fs12">&#xe746;</span></h1>
                            <ul class="dropdown-menu" uib-dropdown-menu >
                                <li ng-class="{checked:tFilter.status==''}" ng-click="tFilter.status='';"><a>全部</a></li>
                                <li ng-class="{checked:tFilter.status=='0'}" ng-click="tFilter.status='0';"><a>启用</a></li>
                                <li ng-class="{checked:tFilter.status=='1'}" ng-click="tFilter.status='1';"><a>不启用</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr ng-class="{cgrey: parameter.status=='1'}" ng-repeat="parameter in parameterList | filter:parameterFilter as results">
                    <td class="rule" title="{{parameter.name}}"><span>{{parameter.name}}</span></td>
                    <td class="rule" title="{{parameter.code}}"><span>{{parameter.code}}</span></td>
                    <td class="rule" >{{parameter.parameterTagName}}</td>
                    <td class="rule" >{{parameter.valueTypeName}}</td>
                    <td class="rule" >{{parameter.maxLength}}</td>
                    <td class="rule" >{{typeTrans[parameter.type]}}</td>
                    <td class="rule" title="{{parameter.description}}"><span>{{parameter.description}}</span></td>
                    <td class="rule" >
                        <a class="iconfont fs48 rm_left" ng-show="parameter.status == 1" ng-click="changeStatus(parameter)">&#xe71b;</a>
                        <a class="iconfont fs48 rm_left cgreen" ng-show="parameter.status == 0" ng-click="changeStatus(parameter)">&#xe71c;</a>
                        <a ng-show="parameter.type==2||parameter.type==3" class="iconfont hide_option fs24" tooltip-class="normalClass" uib-tooltip="删除字段" ng-click="deleteParameter(parameter)">&#xe69d;</a>
                        <a ng-show="parameter.type==2||parameter.type==3" class="iconfont hide_option fs24" tooltip-class="normalClass" uib-tooltip="编辑字段" ng-click="editParameter(parameter)">&#xe6c8;</a>         
                    </td>
                </tr>  
                <tr>
                    <td colspan="8" ng-show="resultFilter.length == 0 || results.length == 0">无查询结果</td>
                </tr>              
            </tbody>
        </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="DeleteParameter.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                确定是否删除<span class="rm_create_title">{{parameterName}}</span>？
            </div>
        </div>
        <div class="rm_modal_footer">
            <div class="pull_center">
                <button class="rm_nbtn rm_nbtn_primary" ng-click="cancel()">
                    取消
                </button>
                <button class="rm_nbtn rm_nbtn_primary" ng-click="ok()">
                    确定
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="DeleteParameterOK.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                <div class="iconfont fs64 cgreen">&#xe6c0;</div>
                <div><span class="rm_create_title">{{parameterName}}</span>删除成功！</div>
            </div>
        </div>
        
    </div>
</script>
<script type="text/ng-template" id="editable.html">
    <div ng-cloak class="rm_modal">
        <div class="rm_modal_header">
            <h3>提示</h3>
            <a class="iconfont modal_close" ng-click="cancel()">&#xe626;</a>
        </div>
        <div class="rm_modal_content rm_modal_text_content">
            <div class="rm_modal_text_item">
                <div class="iconfont fs64 cgreen">&#xe6c0;</div>
                <div>{{message}}</div>
            </div>
        </div>
        
    </div>
</script>
