<div>
    <div class="row" >
        <div infinite-scroll='vm.loadMore()' infinite-scroll-distance='2' style="overflow: hidden;">
            <div ng-repeat="ent in vm.showGif "><img  src={{ent}}></div>
        </div>
       <!--  <div class="carousel slide" >
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="" src={{vm.allGif[vm.active]}} style="margin: 0 auto;">
                </div>
            </div>
            <a class="left carousel-control" ng-click="vm.prev()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" ng-click="vm.next()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> -->

    </div>
</div>