<right-slide-dialog ng-cloak dialog-name="new_rule_step_1" back-router="ruleCenter" no-slide="{{noslide}}">
	<div class="right_slide_width">
		<div class="rmn_content_header rmn_slide">
		    <h1 class="title">
		        添加规则
		    </h1>
		</div>
		<div class="rmn_content_normal rmn_footer rmn_slide">
			<form role="form" class="ud_form_lg">
                <div class="ud_form_group_lg">
                    <label class="t">选择场景</label>
                    <div class="c">
                        <div class="chosen big">
                            <select chosen data-placeholder-text-single="'选择所属场景'" disable-search="true" ng-model="dataTmp.scenarioEnt" ng-change="changeScenario()" ng-options="ent.name for ent in dataTmp.scenarioList">
                            	<option value=""></option>
                            </select> 
                        </div>
                        <span ng-class="{ud_text_error: tip_scenario.invalid, ud_text_correct: !(tip_scenario.invalid)}">{{tip_scenario.info}}</span>
                    </div>
                </div>
                <div class="ud_form_group_lg">
                    <label class="t">选择锦囊</label>
                    <div class="c">
                        <div class="chosen big">
                            <select chosen data-placeholder-text-single="'选择所属锦囊'" data-no-results-text="'该场景下没有锦囊，请先添加锦囊'" disable-search="true" ng-model="dataTmp.solutionEnt" ng-change="validate_solution()" ng-options="ent.name for ent in dataTmp.solutionList">
                            	<option value=""></option>
                            </select> 
                        </div>
                        <span ng-class="{ud_text_error: tip_solution.invalid, ud_text_correct: !(tip_solution.invalid)}">{{tip_solution.info}}</span>
                    </div>
                </div>
	            <div class="ud_form_group_lg">
	                <label class="t">选择添加形式</label>
	                <div class="c" ng-repeat="item in createTypeList">
	                    <a class="ud_card ud_card_glType" ng-click="checkCreateType($index)" ng-class="{checked: createTypeIndex == $index }">
	                        <span class="iconfont" >&#xe6be;</span>
	                        <span >{{item}}</span>
	                    </a>
	                </div>
	            </div>
	        </form>
		</div>
		<div class="rmn_content_footer rmn_slide">
			<div class="rm_buttoms rm_right">
				<span ng-class="{ud_text_error: tip_all.invalid, ud_text_correct: !(tip_all.invalid)}">{{tip_all.info}}</span>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="close()">取消</a>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="save()">下一步</a>
			</div>
		</div>
	</div>
</right-slide-dialog>