<div class="ud_content_condition">
    <div class="conditions">
        <div class="condition single">
            <form role="form" ng-submit="getDimension(dimension,dValues)">
                <div class="ud_row">
                    <label class="title">查询维度：</label>
                    <div class="itemgroup">
                        <select ng-model="dimension" class="item_ipt" ng-change="init()">
                            <option value="" disabled selected>--选择维度--</option>
                            <option value="ip">IP</option>
                            <option value="phone">手机号</option>
                            <!--<option value="bank">银行卡号</option>-->
                            <option value="id">身份证号</option>
                        </select>
                        <input type="text" name="dValue" ng-model="dValues" ng-change="init()"
                               placeholder="具体的维度值" class="item_ipt">
                        <input type="submit" class="rm_btn_sm rm_btn_primary item_ipt" value="搜索"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ud_content_result simple">
    <p ng-if="!flag" class="rm_text_error">{{msgs}}</p>
    <table ng-switch="dimension" class="rm_table_bordered rm_table_horizontal ud_table_B" ng-if="flag">
        <tbody>
        <tr>
            <th ng-switch-when="ip">IP归属地</th>
            <th ng-switch-when="phone">手机号归属地</th>
            <th ng-switch-when="bank">银行卡号开户地</th>
            <th ng-switch-when="id">身份证发证地</th>
            <td>国家:{{location.country ||""}}</td>
            <td>省份:{{location.province ||""}}</td>
            <td>城市:{{location.city ||""}}</td>
            <td>街道:{{location.county ||""}}</td>
        </tr>
        </tbody>
    </table>
</div>


