<right-slide-dialog ng-cloak dialog-name="guide_info" back-router="ruleCenter">
	<div class="right_slide_width">
		<div class="rmn_content_header rmn_slide">
		    <h1 class="title">
		        攻略属性设置
		    </h1>
		</div>
		<div class="rmn_content_normal rmn_footer rmn_slide">
			<form role="form" class="ud_form_lg">
	<!-- 			<div class="ud_form_group_lg">
	                <div class="c">
	                	<div style="height:34px;width:60px;background: #00b52d;color: #fff;display: inline-block;padding: 6px 25px;position: relative;">0<div style="width: 0px;border: 1px solid #fff;position: absolute;top:16px;	width: 14px;right: 0px;"></div></div><input style="height:34px;width:90px;background: #fff;color: #000;border: 1px solid #D3D9DE;display: inline-block;padding: 4px 25px;" value="60"></input><div style="height:34px;width:60px;background: #FF3536;color: #fff;display: inline-block;padding: 6px 25px;position: relative;">00</div>
	                </div>
	            </div> -->

	            <div class="ud_form_group_lg">
	                <label class="t">攻略ID</label>
	                <div class="c">
                        <div class="ud_text_indent2" >{{code}}</div>
	                </div>
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">攻略名称</label>
	                <div class="c">
	                    <input type="text" placeholder="攻略名称" class="ud_input_lg" ng-model="name" ng-change="validate_name()" ng-blur=validate_name()>
	                    <span ng-class="{ud_text_error: tip_name.invalid, ud_text_correct: !(tip_name.invalid)}">{{tip_name.info}}</span>
	                </div>
	            </div>	            

	            <div class="ud_form_group_lg">
	                <label class="t">应用平台</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select style="width:100%" chosen disable-search="true" ng-model="platform" ng-options="ent for ent in platformsList">
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                </div>                
	            </div>

	            <div class="ud_form_group_lg">
	                <label class="t">应用行业</label>
	                <div class="c">
	                    <div class="chosen big">
	                        <select style="width:100%" chosen disable-search="true" ng-change="changeIndustrie()" ng-model="industrieEnt" ng-options="ent.name for ent in industriesList">
	                        	<option value=""></option>
	                        </select> 
	                    </div>
	                </div>
	            </div>
				<div class="ud_form_group_lg">
	                <label class="t">已添加的场景</label>
	                <div class="c">
	                	<div dragular="dragularOptions" >
	                		<label class="checkbox_cs checked" ng-repeat="scenario in scenarios" index="1_{{$index}}" >
				                {{scenario.name}}
				            </label>
				            <label class="checkbox_cs checked" ng-repeat="scenario in scenariosOther" ng-show=" scenario.checked" index="2_{{$index}}" >
				                {{scenario.name}}
				            </label> 
	                	</div>
	                </div>
	            </div>
	            <div class="ud_form_group_lg">
	                <label ng-click="toggleAddScenarios()" class="t operation">+添加新的场景</label>
	                <div ng-if="showAddScenariosFlag" class="c">
	                	<div >
	                		<label class="checkbox_cs" ng-repeat="scenario in scenariosOther" ng-class="{'checked': scenario.checked}">
				                {{scenario.name}}
				                <input type="checkbox" ng-model="scenario.checked" ng-click="changeScenario(scenario)"/>
				            </label>
	                	</div>
	                </div>
	            </div>
	        </form>
		</div>
		<div class="rmn_content_footer rmn_slide">
			<div class="rm_buttoms rm_right">
				<a class="rm_nbtn rm_nbtn_primary" ng-click="close()">取消</a>
				<a class="rm_nbtn rm_nbtn_primary" ng-click="save()">下一步</a>
			</div>
		</div>
	</div>
</right-slide-dialog>