@charset "utf-8";

.download_bill_date {
    @extend .ud_center;

    margin: 70px auto 170px auto;
    min-height: 140px;

    .ud_datepicker {
        display: inline-block;
    }


    .date_ipt {
        width: 130px;
        height: 36px;
        padding: 0 10px;
        color: $font_color;
        border: 1px solid #d4d5d7;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
    }

    .text_hyphen {
        color: #d4d5d7;
    }

    .download_btn {
        width: 120px;
        height: 36px;
        padding: auto 30px;
        margin-left: 5px;
    }

    .download_btn {
        color: #fff;
        display: inline-block;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 0;
        white-space: nowrap;
        padding: 8px;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: $blue;
    }

    .download_btn {
        &:hover {
            color: #fff;
            border: 0;
        }

        &:focus {
            color: #fff;
            border: 0;
            background-color: $blue_dark;
        }
    }



    &:focus {
        color: #fff;
        border: 1px solid #fff;
    }

    .desc {
        margin-top: 50px;
        font-size: 12px;

        color: $font_grey_light;

    }

}

.download_bill_month {
    @extend .ud_center;

    //padding: 30px;
    padding: 15px 0;

    .month_item {
        display: block;

        a {
            color: #12addd;
            font-size: 12px;
            line-height: 50px;
            display: block;

            &:hover {
                font-weight: bold;
                cursor: pointer;
            }

            &.invalid {
                color: #d4d5d7;

                &:hover {
                    font-weight: normal;
                    cursor: not-allowed;
                }
            }
        }

    }
}

.type_nav,
.year_nav {
    a {
        color: $blue;
        cursor: pointer;


        &.active {
            color: $font_color_link_active;
            font-weight: bold;
            cursor: default;
        }

        &.invalid {
            color: #d4d5d7;

            &:hover {
                cursor: not-allowed;
            }
        }
    }


}
