@charset "utf-8";

$doc_nav_item_height: 60px;

.ud_docnav {
    position: fixed;
    top: 80px;
    bottom: 0;
    //left: 240px;
    width: 200px;
    height: 100%;
    background: $bg_grey;
    overflow-y: auto;

    ul {
        background: #fff;
        position: absolute;
        padding: 0;
        top: 50%;
        right: 0;
        left: 0;
        margin-top: -$doc_nav_item_height*5/2;

        li {
            height: $doc_nav_item_height;
            padding: 16px 30px 0 30px;
            border: 1px solid $bg_grey;
            border-bottom: 0;

            &:last-child {
                border-bottom: 1px solid $bg_grey;
            }

            a {
                font-size: 18px;
                color: #333e50;

                width: 100%;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                }
            }

            &.active {
                //background: $blue;

                a {
                    //color: #fff;
                }

            }
        }
    }
}

.ud_doc {
    padding-left: 20px;
    color: #2e3746;

    .ud_chapter {
        padding: 0px 50px 40px 50px;
        border-bottom: 2px solid $bg_grey;

        h3 {
            margin-bottom: 25px;
            padding-top: 30px;
            margin-top: 0px;
        }

        h5 {
            color: $blue;
        }

        h4, h5, p, li {
            margin-bottom: 18px;
            line-height: 250%;
        }
        h5 {
            margin-top: 30px;
            margin-bottom: 0;
            line-height: 100%;
        }
    }

    ol {
        list-style-type: none;
        counter-reset: sectioncounter;
        padding-left: 0;
    }

    ol li:before {
        content:counter(sectioncounter) "ã€";
        counter-increment:sectioncounter;
    }

    li {
        //list-style-type: decimal;
        list-style-type: none;
    }

    table {
        //border: 1px solid $bg_grey;
        width: auto;
        //margin: 0 auto;
        margin-bottom: 30px;

        thead>tr>th, tbody>tr>th, tfoot>tr>th {
            text-align: center;
        }

        thead>tr>th, tbody>tr>th, tfoot>tr>th,
        thead>tr>td, tbody>tr>td, tfoot>tr>td {
            border: 1px solid $bg_grey;
            color: #333e50;
            padding: 10px 45px;
        }
    }

    .link_map {
        a {
            color: $blue;
            display: inline-block;
            margin-right: 20px;

            &:hover,
            &:focus {
                cursor: pointer;
            }
        }
    }
}
